<div class="job-details-employer-questions">
  <h3>Employer Questions</h3>
  <div class="card">
    <p>
      Here are some example interview questions for a "Senior Java Developer" position:
    </p>
    <ul>
      <li>
        How comfortable are you with Java frameworks like Spring or Hibernate?
      </li>
      <li>
        Can you discuss a project where you successfully delivered a challenging feature using Java?
      </li>
      <li>
        How do you stay updated with the latest trends and technologies in Java development?
      </li>
      <li>
        What design patterns do you frequently use in your Java development, and why?
      </li>
    </ul>
  </div>
</div>