<div class="job-details-employer-questions">
  <!--@if (!jobCustomQuestionEntities) {
    <div class="loading-placeholder">
      <ion-spinner></ion-spinner>
    </div>
  }-->
  <h3>{{ "Employer Questions" |_ }}</h3>
  <div class="card">
    <p>
      {{ "Here are some questions for the position:" |_ }}"
    </p>
    <ul>
      @for (question of jobCustomQuestionEntities; track question.jobCustomQuestionId) {
        <li>
          {{ question.name }}
        </li>
      }
    </ul>
  </div>
</div>