<div class="profile-job-preferences-card">
  <div class="item">
    <div class="left">
      Type of Employment
    </div>
    <div clas="right">
      Permanent
    </div>
  </div>
  <div class="item">
    <div class="left">
      Salary Expectations
    </div>
    <div class="right">
      $50,000 - $60,000
    </div> 
  </div>
  <div class="item">
    <div class="left">
      Mobility
    </div>
    <div class="right">
      N/A
    </div>
  </div>
  <div class="item">
    <div class="left">
      Notice Period
    </div>
    <div class="right">
      1 Month
    </div>
  </div>
  <div class="item">
    <div class="left">
      Hiring Status
    </div>
    <div class="right">
      Open To Hire / Ready To Interview
    </div>
  </div>
</div>