<div class="profile-job-preferences-card">
  @if (!candidate) {
    <div class="loading-placeholder">
      <ion-spinner></ion-spinner>
    </div>
  }
  <div class="item">
    <div class="left">
      {{ "Type of Employment" |_ }}
    </div>
    <div clas="right">
      @if (candidate?.employmentTypeEntity) {
        {{ pus.employmentTypeKeyAccessor(candidate?.employmentTypeEntity) }}
      } @else {
        -
      }
    </div>
  </div>
  <div class="item">
    <div class="left">
      {{ "Salary Expectations" |_ }}
    </div>
    <div class="right">
      @if (candidate?.salaryExpectationEntity) {
        {{ pus.salaryExpectationKeyAccessor(candidate?.salaryExpectationEntity) }}
      } @else {
        -
      }
    </div> 
  </div>
  <div class="item">
    <div class="left">
      {{ "Mobility" |_ }}
    </div>
    <div class="right">
      @if (candidate?.salaryExpectationEntity) {
        {{ candidate?.selfCandidateMobilityEntities?.map(pus.mobilityKeyAccessor)?.join(", ") }}
      } @else {
        -
      }
    </div>
  </div>
  <div class="item">
    <div class="left">
      {{ "Notice Period" |_ }}
    </div>
    <div class="right">
      @if (candidate?.noticePeriodEntity) {
        {{ pus.noticePeriodKeyAccessor(candidate?.noticePeriodEntity) }}
      } @else {
        -
      }
    </div>
  </div>
  <div class="item">
    <div class="left">
      {{ "Hiring Status" |_ }}
    </div>
    <div class="right">
      @if (candidate?.hiringStatusEntity) {
        {{ pus.hiringStatusKeyAccessor(candidate?.hiringStatusEntity) }}
      } @else {
        -
      }
    </div>
  </div>
</div>