<div class="wrapper">
  <ion-button
    fill="clear"
    expand="block"
    color="dark"
    [class]="'clickable-profile-cta ' + variant"
    [routerLink]="routerLink"
  >
    <div class="inner">
      <div class="left">
        <div class="title">Yaay! You have completed all steps</div>
        <div class="subtitle">
          Edit your information any time. Edit your information any time you want. 
        </div>
      </div>
      <div class="right">
        <img src="/assets/svg/profile-cta-arrow-right-rounded.svg" alt="arrow-right-rounded">
      </div>
    </div>
  </ion-button>
</div>