<div class="job-details-requirements-table">
  <div class="item">
    <div class="label">
      Experience
    </div>
    <div class="value">
      5 Years
    </div>
  </div>
  <div class="item">
    <div class="label">
      Employment Type
    </div>
    <div class="value">
      Permanent
    </div>
  </div>
  <div class="item">
    <div class="label">
      Employment Type
    </div>
    <div class="value">
      Permanent
    </div>
  </div>
  <div class="item">
    <div class="label">
      Work Type
    </div>
    <div class="value">
      On-site
    </div>
  </div>
  <div class="item">
    <div class="label">
      Language
    </div>
    <div class="value">
      English
    </div>
  </div>
  <div class="item">
    <div class="label">
      Location
    </div>
    <div class="value">
      Albania, Armenia, India, Indonesia, Iran, France
    </div>
  </div>
</div>