<div class="job-details-requirements-table">
  <!--@if (!jobEntity){
    <div class="loading-placeholder">
      <ion-spinner></ion-spinner>
    </div>
  }-->
  <div class="item">
    <div class="label">
      {{ "Experience" |_ }}
    </div>
    <div class="value">
      {{ jobEntity?.totalExperience ?? '-' }} Year{{ jobEntity?.totalExperience! > 1 ? 's' : '' }}
    </div>
  </div>
  <div class="item">
    <div class="label">
      {{ "Employment Type" |_ }}
    </div>
    <div class="value">
      {{ pus.employmentTypeKeyAccessor(jobEntity?.employmentTypeEntity!) ?? '' }}
    </div>
  </div>
  <div class="item">
    <div class="label">
      {{ "Work Type" |_ }}
    </div>
    <div class="value">
      {{ pus.workTypeKeyAccessor(jobEntity?.workTypeEntity!) ?? '-' }}
    </div>
  </div>
  <div class="item">
    <div class="label">
      {{ "Language" |_ }}
    </div>
    <div class="value">
      {{ jobEntity?.spokenLanguageEntities?.map(pus.languageOptionsKeyAccessor)?.join(', ') ?? '-' }}
    </div>
  </div>
  <div class="item">
    <div class="label">
      @if (jobEntity?.regionList?.length! > 1){
        {{ "Locations" |_ }}
      } @else {
        {{ "Location" |_ }}
      }
    </div>
    <div class="value">
      {{ jobEntity?.regionList?.map(pus.countryKeyAccessor)?.join(', ') ?? '-' }}
    </div>
  </div>
</div>