<div class="job-details-requirements-table">
  @if (!jobEntity){
    <div class="loading-placeholder">
      <ion-spinner></ion-spinner>
    </div>
  }
  <div class="item">
    <div class="label">
      Experience
    </div>
    <div class="value">
      {{ jobEntity?.totalExperience ?? '-' }} Year{{ jobEntity?.totalExperience! > 1 ? 's' : '' }}
    </div>
  </div>
  <div class="item">
    <div class="label">
      Employment Type
    </div>
    <div class="value">
      {{ pus.employmentTypeKeyAccessor(jobEntity?.employmentTypeEntity!) ?? '' }}
    </div>
  </div>
  <div class="item">
    <div class="label">
      Work Type
    </div>
    <div class="value">
      {{ pus.workTypeKeyAccessor(jobEntity?.workTypeEntity!) ?? '-' }}
    </div>
  </div>
  <div class="item">
    <div class="label">
      Language
    </div>
    <div class="value">
      {{ jobEntity?.spokenLanguageEntities?.map(pus.languageOptionsKeyAccessor)?.join(', ') ?? '-' }}
    </div>
  </div>
  <div class="item">
    <div class="label">
      Location{{ jobEntity?.regionList?.length! > 1 ? 's' : '' }}
    </div>
    <div class="value">
      {{ jobEntity?.regionList?.map(pus.countryKeyAccessor)?.join(', ') ?? '-' }}
    </div>
  </div>
</div>