<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div class="main">
    <div class="top-banner">
      <swiper-container
        pagination="true"
        autoplay-delay="2500"
      >
      <swiper-slide style="background:#FFE1E2">
        <div class="splash-container">
          <img src="/assets/png/splash/splash-1.png" alt="Splash"/>
        </div>
      </swiper-slide>
      <swiper-slide style="background:#FFE1F1">
      </swiper-slide>
      <swiper-slide style="background:#E0F9F0">
      </swiper-slide>
      </swiper-container>
    </div>
    <!-- The next step will be to synchronize the slider with the content below -->
    <div class="content ion-padding-horizontal">
      <div class="banner-title-1">
        {{ "Your Career Journey Starts Here" |_ }}
      </div>
      <div class="helper">
        {{ "Discover opportunities, connect with employers, and land your dream job effortlessly." |_ }}
      </div>
        <ion-button
          expand="block"
          fill="solid"
          color="primary"
          routerLink="/login"
        >
          {{ "Log In" |_ }}
        </ion-button>
      <div class="helper">
        {{ "Don't have an account?" |_ }} <a routerLink="/signup">{{ "Sign Up" |_ }}</a>
      </div>
    </div>
  </div>
</ion-content>
