

// Should consider to upgrade this to a higher level stylesheet
.left-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// The language button

.language-button{
    --padding-start: 10px;
    --padding-end: 10px;
    height: 40px;
}

.language-button-inner{
    display: flex;
    justify-content: space-between;
    width: 68px;

    font-size: 16px; // TODO, should consider to use a variable
    font-weight: 500;
}



// TODO, should consider to put this in a higher level stylesheet
ion-input{
    --border-color: #79747E !important; // TODO, use a color scheme for the app
    &.ion-invalid.ion-touched {
        --border-color: #B3261E !important; // TODO, use a color scheme for the app
    }
    &.has-focus{
        --border-color: #48474a !important; // Doesn't work
    }
    // The has-touched can't be used yet for now (maybe to be updated later)
}

ion-button{
    line-height: 19px;
    color: #1A1C1E;
    --border-width: 1px;
    --border-color: #79747E; // TODO, use a color scheme for the app
}

.in-text{
    color: #6C7278;
    // font-weight: 500;
}

.separate-or{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    & .line{
        flex: 1;
        height: 1px;
        background: #EDF1F3;
    }
}


.login-provider{
    & img{
        position: absolute;
        left: 2px;
    }
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-text{
    font-size: 12px;
    font-weight: 400;
    color: #6C7278;
    position: absolute;
    // bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-bottom: 16px;
}

ion-content{
    position: relative;
}

ion-button[type=submit]{
    margin-top: 24px; // TODO, it should be use a variable
    margin-bottom: 24px;
}

// Input wrapper and custom label
.input-wrapper{
    margin-top: 24px; // Should use a variable for a sustainable development
    margin-bottom: 24px;
    & ion-input{
        margin-top: 0px!important;
        margin-bottom: 0px!important;
    }
    & .input-helper{
        font-size: 14px;
        line-height: 21px;
        color: #6C7278; // Should use a variable for a sustainable development
        margin-top: 8px;
    }
    & .input-error{
        font-size: 14px;
        line-height: 21px;
        margin-top: 6px;
        color: #B3261E;
    }
}