<ion-content>
  <ion-header>
    <app-topbar color="primary">
      <app-back-button slot="start" variant="topbar" color="light"></app-back-button>
      <div class="ion-text-center title">Job details</div>
      <div slot="end">
        <ion-button
          color="light"
          fill="clear"
          class="iconed-button-1"
        > <!-- should verify if this group of element is not repeated in other part of the project -->
          <ion-icon src="/assets/svg/icon-save.svg"></ion-icon>
          <span>Save</span>
        </ion-button>
      </div>
    </app-topbar>
  </ion-header>

  <!-- content here -->
</ion-content>
