ion-header{
    box-shadow: none;
    & div.title{
        font-size: 18px;
    }
}

.iconed-button-1{
    display: flex;
    font-size: 14px;
    & > ion-icon{
        height: 16px;
        margin-right: .25em;
    }
}

app-horizontal-scrollable-tabs{
    position: sticky;
    top: 0;
    z-index: 10;
}

.detail-content{
    & h3{
        margin: 0;
        margin-top: 30px;
        margin-bottom: 14px;
        font-size: 22px;
        font-weight: 400;
        line-height: 28.6px;
        color: #1A1C1E;
    }
    & p{
        margin: 0;
    }
    & ul{
        margin: 0;
        padding: 0;
        margin-left: 22px;
    }
    & p, & ul{
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        color: #6C7278;
    }
}

.hr{
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #E9E7EA
}

.floating-controls{
    height: calc(78px + env(safe-area-inset-bottom));
    & > .inner {
        position: fixed;
        bottom: 0;
        left: 0;
        background: white;
        width: 100%;
        height: 78px;
        padding-bottom: env(safe-area-inset-bottom);
        & > div{
            display: flex;
            height: 100%;
            align-items: center;
            & > ion-button{
                flex-grow: 1; // 50/50 each
                &.danger{
                    --background: #D71313!important;
                }
            }
        }
    }
}

// The spacings
app-job-details-requirements-table, app-job-details-employer-questions{
    --margin-top: 20px;
    --margin-bottom: 20px;
}

// Include in a mixin later
ion-content{
    &.is-loading{
        & .page-loading-placeholder{
            display: block;
            opacity: 1;
            background: #2424246e;
            backdrop-filter: blur(3px);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
        }
        & ion-spinner{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 100;
            color: white;
        }
    }
    &{
        .page-loading-placeholder{
            opacity: 0;
            display: none;
        };
    }
}

// The invite status
.bottom-message{
    font-weight: 500;
    text-align: center;
    border-top: 1px solid #E9E7EA;
    display: flex;
    align-items: center;
    justify-content: center;
}

// The updated anchor to display correctly
.anchored {
    position: relative;
    & span{
        display: inline-block;
        width: 5px;
        height: 5px;
        background: none;
        position: absolute;
        top: -62px;
    }
}

// The modal for job successfully applied
.modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 380px;
    background: white;
    border-radius: 14px;
    z-index: 999;
}

.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000006e;
    z-index: 998;
    backdrop-filter: blur(3px);
}