<ion-header>
  <app-topbar color="primary" id="header">
    <app-back-button slot="start" variant="topbar" color="light"></app-back-button>
    <div class="ion-text-center title">Job details</div>
    <div slot="end">
      <!-- Ask Rakesh about the save button -->
      <!--
      <ion-button
        color="light"
        fill="clear"
        class="iconed-button-1"
      >
        <ion-icon src="/assets/svg/icon-save.svg"></ion-icon>
        <span>Save</span>
      </ion-button>
      -->
    </div>
  </app-topbar>
</ion-header>
<!-- The loading is an experimental-->
<!--<ion-content>-->
<ion-content [class]="!jobEntity ? 'is-loading' : ''">
  
    <div class="page-loading-placeholder">
      <ion-spinner></ion-spinner>
    </div>
  

  <div class="ion-padding-horizontal">
    <app-job-details-header [jobEntity]="jobEntity"></app-job-details-header>
  </div>

  <!-- Here and above will be fixed -->
  <!-- the below item should be sticky -->
  <app-horizontal-scrollable-tabs [items]="
    {
      'description': 'Job Description',
      'responsibilities': 'Responsibilities',
      'jobRequirements': 'Job requirements',
      'jobQualification': 'Job qualification'
    }
  "
    (action)="goToSection($event)"
  ></app-horizontal-scrollable-tabs>
  <div class="ion-padding-horizontal">
    <div class="detail-content">
      <h3 id="description" class="anchored"><span #description></span>Job Description</h3>
      <p>
        {{ jobEntity?.description }}
      </p>

      <h3 id="responsibilities" class="anchored"><span #responsibilities></span>Job Key Responsibilities</h3>
      <ul>
        @for (responsibility of jobEntity?.jobKeyResponsibilityEntities; track responsibility.id){
          <li>{{ responsibility.name }}</li>
        }
      </ul>
      <h3 id="job-requirements" class="anchored"><span #jobRequirements></span>Job Requirements</h3>
      <ul>
        @for (requirement of jobEntity?.jobRequirementEntities; track requirement.id){
          <li>{{ requirement.name }}</li>
        }
      </ul>
      <h3 id="job-qualification" class="anchored"><span #jobQualification></span>Job qualification</h3>
      <div [innerHTML]="jobEntity?.jobQualificationHTML" class="html-text-job-detail-1"></div>
    </div>
    <!--
    <div class="detail-content">
      <h3 id="description" #description>Job Description</h3>
      <p>
        We are looking for a talented Senior Android Developer to join our team. The ideal candidate will have strong experience in Android development using Android Studio, Java, JScript, and Spring Framework.
      </p>
      <h3 id="responsibilities" #responsibilities>Job Key Responsibilities</h3>
      <ul>
        <li>Design and develop advanced applications for the Android platform</li>
        <li>Collaborate with cross-functional teams to define, design, and ship new features</li>
        <li>Work with external data sources and APIs</li>
        <li>Unit-test code for robustness, including edge cases, usability, and general reliability</li>
        <li>Continuously discover, evaluate, and implement new technologies to maximize development efficiency</li>
      </ul>
      <h3 id="job-requirements" #jobRequirements>Job Requirements</h3>
      <ul>
        <li>Experience with third-party libraries and APIs</li>
        <li>Solid understanding of the full mobile development life cycle</li>
        <li>Strong problem-solving skills and attention to detail</li>
        <li>Fluency in English and French or Hindi</li>
      </ul>
    </div>
    -->
  </div>

  <br/>
  <br/>

  <div class="ion-padding-horizontal">
    <div class="hr"></div> <!-- In the future, should consider to make as a reusable -->

    <!-- Untill Here -->
    <app-job-details-requirements-table [jobEntity]="jobEntity"></app-job-details-requirements-table>


    <div class="hr"></div> <!-- In the future, should consider to make as a reusable -->
  </div>

  <div class="ion-padding-horizontal">
    <app-job-details-employer-questions [jobCustomQuestionEntities]="jobEntity?.jobCustomQuestionEntities!"></app-job-details-employer-questions>
  </div>

  @if (jobEntity?.jobInvitationEntity?.inviteStatus === "PENDING"){ <!-- Waiting for the candidate to confirm -->
    <div class="floating-controls">
      <div class="inner">
        <div class="ion-padding-horizontal">
          <ion-button
            class="danger"
            [routerLink]="'/reject-job-form/' + jobEntity?.jobId"
          >
            Reject
          </ion-button>
          <ion-button
            color="primary"
            [routerLink]="'/employer-questions/' + jobEntity?.jobId"
          >
            Apply for job
          </ion-button>
        </div>
      </div>
    </div>
  } @else {
    <div class="floating-controls">
      <div class="inner">
        <div class="ion-padding-horizontal bottom-message">
          @if (jobEntity?.jobInvitationEntity?.inviteStatus === "REJECTED"){ <!-- The candidate rejected the job -->
            <p style="color: #D71313">The candidate rejected the job</p>
          } @if (jobEntity?.jobInvitationEntity?.inviteStatus === "ACCEPTED"){ <!-- The candidate accepted the job -->
            <p style="color: #2E7D32">The candidate accepted the job</p>
          } @else {
            <p>This job offer is not open for application anymore</p>
          }
        </div>
      </div>
    </div>
  }
</ion-content>
