<ion-header>
  <app-topbar [progress]="3/9">
    <app-back-button slot="start" variant="topbar"></app-back-button>
    <div>{{ "Setup your profile" |_ }}</div>
    <div slot="end">
      <ion-button
        color="primary"
        fill="clear"
        (click)="skip()"
      >
        {{ "Skip" |_ }}
      </ion-button>
    </div>
  </app-topbar>
</ion-header>

<ion-content>
  <div class="ion-padding-horizontal form-wrapper">

    <div class="form-header">
      <h2 class="display-2">{{ "Education and Certification" |_ }}</h2>
      <div class="helper">
        {{ "Let us know you a bit more about you" |_ }}
      </div>
    </div>

    <!-- Education -->
    <app-section-heading class="education-heading">
      {{ "Education" |_ }}
      @if (candidateEducationEntities.length > 0){
        <ion-button
          color="primary"
          fill="clear"
          slot="end"
          (click)="router.navigateByUrl('/education-form?mode=add')"
        >
        {{ "Add" |_ }}
        </ion-button>
      }
    </app-section-heading>

    <div>
      @if (candidateEducationEntities.length == 0){
        <ion-button
          fill="outline"
          color="primary"
          class='add-button'
          (click)="router.navigateByUrl('/education-form?mode=add')"
        >
          <div class="inner">
            {{ "Add education" |_ }}
          </div>
        </ion-button>
      }
    </div>

    @for (entity of candidateEducationEntities; track entity.id) {
      <app-experience-card
        [editButton]="true"
        [deleteButton]="true"
        (edit)="router.navigateByUrl('/education-form?mode=edit&id=' + entity.id)"
        (delete)="deleteEducation(entity)"
        [fadeAway$]="entity.fadeAway$"
        [deleteButtonIsLoading$]="entity.deleteIsLoading$"
      >
        <div slot="image">
          <div class="rounded-container">
            <ion-icon src="/assets/svg/icon-education.svg" style="font-size:21px"></ion-icon>
          </div>
        </div>
        <div slot="title">{{ entity.degreeName }}</div>
        <div slot="content">
          {{ entity.college }}
        </div>
        <div slot="footer">
          <div class="chip">{{ entity.year }}</div>
        </div>
      </app-experience-card>
    }

    <!-- Certification -->
    <app-section-heading class="certification-heading">
      {{ "Certification" |_ }}
      @if (candidateCertificateEntities.length > 0){
        <ion-button
          color="primary"
          fill="clear"
          slot="end"
          (click)="router.navigateByUrl('/certification-form?mode=add')"
        >
        {{ "Add" |_ }}
        </ion-button>
      }
    </app-section-heading>
    <div>
      @if (candidateCertificateEntities.length == 0){
        <ion-button
          fill="outline"
          color="primary"
          class='add-button'
          (click)="router.navigateByUrl('/certification-form?mode=add')"
        >
          <div class="inner">
            Add certificate
          </div>
        </ion-button>
      }
    </div>
    @for (entity of candidateCertificateEntities; track entity.id) {
      <app-experience-card
        [editButton]="true"
        [deleteButton]="true"
        (edit)="router.navigateByUrl('/certification-form?mode=edit&id=' + entity.id)"
        (delete)="deleteCertificate(entity)"
        [fadeAway$]="entity.fadeAway$"
        [deleteButtonIsLoading$]="entity.deleteIsLoading$"
      >
        <div slot="image">
          <div class="rounded-container">
            <ion-icon src="/assets/svg/icon-education.svg" style="font-size:21px"></ion-icon>
          </div>
        </div>
        <div slot="title">{{ entity.name }}</div>
        <div slot="content">
          {{ entity.institution }}
        </div>
        <div slot="footer">
          <div class="chip">{{ entity.year }}</div>
        </div>
      </app-experience-card>
    }

    <div class="bottom-controls">
      <div class="inner">
        <ion-button
          color="primary"
          expand="block"
          (click)="submit()"
        >
        {{ "Save &amp; continue" | _ }}
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>
