
.flag-container{
    margin-top: 40px;
    display: flex;
    gap: 16px;
    flex: 1;

    & > ion-button{
        flex: 1;
        height: 184px;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        --border-radius: 12px;
        --border-width: 1px;
        --border-color: #E7E7E9!important;
        --border-style: solid;
        display: flex;
        position: relative;
    }

    & > ion-button.active{
        --background: #FFE1E2!important; // Not a shade of tabasco color
        --box-shadow: none;
        --border-color: var(--ion-color-tabasco)!important;
    }

    & > ion-button{
        & .circle{
            background: var(--ion-color-tabasco);
            width: 16px;
            height: 16px;
            border-radius: 50%;
            position: absolute;
            top: 14px;
            right: 14px;
        }
    }

    & .sub-title-1, & .sub-title-2{
        line-height: 22px;
        font-size: 16px;
        font-weight: 500;
    }

    & .sub-title-1{
        color: var(--ion-color-dark);
    }

    & .sub-title-2{
        color: var(--ion-color-medium);
    }

    & img{
        width: 56px;
        height: 56px;

        margin-bottom: 15px;
    }

    // The dynamic css class
    & .circle{
        display: none;
    }
    & .active>.circle{
        display: block;
    }

}