<div class="outline-input">
  <div [class]="
    'wrapper ' +
    ((formControl?.invalid && formControl?.touched) ? 'has-error ' : ' ') +
    (hasFocus ? 'has-focus ' : ' ')
  ">
    <label>{{ label }}</label>
    <div class="innerbox">
      <ion-input
        #innerInput
        [type]="type"
        fill="outline"
        [placeholder]="placeholder"
        [formControl]="formControl!"
      ></ion-input>
        <div class="icon-container" (click)="setFocus()">
          <div class="icon-container-inner">
            <ng-content select="[slot='icon']"></ng-content>
          </div>
        </div>
    </div>
  </div>

  @if (formControl?.invalid && formControl?.touched) {
    <div class="input-error">
      {{ errorText }}
    </div>
  }
</div>