
.input-wrapper{
    margin-top: 24px; // Should use a variable for a sustainable development
    margin-bottom: 24px;
    & ion-input{
        margin-top: 0px!important;
        margin-bottom: 0px!important;
    }
    & .input-helper{
        font-size: 14px;
        line-height: 21px;
        color: #6C7278; // Should use a variable for a sustainable development
        margin-top: 8px;
    }
}