<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <div style="height: 10px;"></div><!-- another placeholder -->
  <div class="ion-padding-horizontal">
    <div><!-- Should consider to update later -->
      <!-- TODO, make this button match the Design -->
      <ion-button
        class="back-button"
        fill="clear"
        color="clear"
        (click)="goTo('/home')"
      >
        <ion-icon src="/assets/svg/arrow-left.svg"></ion-icon>
      </ion-button>
    </div>

    <h1 class="display-bold-1">Create new password</h1>

    <div class="helper">
      Your new password must be different from previous used passwords
    </div>
    <form>
      <div class="input-wrapper">
        <ion-input
          type="password"
          placeholder="password"
          fill="outline"
          label-placement="stacked"
          label="Password"
        ></ion-input>

        <div class="input-helper">
          Must be at least 8 characters
        </div>
      </div>

      <div class="input-wrapper">
        <ion-input
          type="password"
          placeholder="password"
          fill="outline"
          label-placement="stacked"
          label="Confirm password"
        ></ion-input>
        <div class="input-helper">
          Must be at least 8 characters
        </div>
      </div>

      <ion-button
        expand="block"
        class="submit-button"
        color="primary"
        type="submit"
      >Confirm</ion-button>
      
    </form>
  </div>
</ion-content>
