<ion-header>
  <app-topbar [progress]="0.5">
    <app-back-button slot="start" variant="topbar"></app-back-button>
    <div>Setup your profile</div>
    <div slot="end">
      <ion-button
        color="primary"
        fill="clear"
      >
        Skip
      </ion-button>
    </div>
  </app-topbar>
</ion-header>

<ion-content>

  <div class="ion-padding-horizontal form-wrapper">
    <div class="form-header">
      <h2 class="display-2">Work Experience</h2>
      <div class="helper">
        Let us know you a bit lorem ipsum is a dummy text for the printing.
      </div>
    </div>

    <!-- Experience -->
    <app-section-heading class="project-heading">
      Experience
      @if (candidateWorkExperienceEntities.length > 0){
        <ion-button
          color="primary"
          fill="clear"
          slot="end"
          (click)="router.navigateByUrl('/work-experience-form?mode=add')"
        >
          {{ "Add" |_ }}
        </ion-button>
      }
    </app-section-heading>

    <div>
      @if (candidateWorkExperienceEntities.length == 0){
        <ion-button
          fill="outline"
          color="primary"
          class='add-button'
          (click)="router.navigateByUrl('/work-experience-form?mode=add')"
        >
          <div class="inner">
            Add experience
          </div>
        </ion-button>
      }
    </div>

    @for (entity of candidateWorkExperienceEntities; track entity.id) {
      <app-experience-card
        (edit)="router.navigateByUrl('/work-experience-form?mode=edit&id=' + entity.id)"
        (delete)="deleteWorkExperience(entity)"
        [fadeAway$]="entity.fadeAway$"
        [deleteButtonIsLoading$]="entity.deleteIsLoading$"
      >
        <div slot="image">
          <img src="/assets/png/sample-image-1.png" width="33px">
        </div>
        <div slot="title">{{ entity.jobTitle }}</div>
        <div slot="content">
          {{ entity.companyName }}<br/>
          {{ entity.location }}
        </div>
        <div slot="footer">
          {{ entity.startDate | date: 'MMM yyyy' }} - {{ entity.endDate | date: 'MMM yyyy' }}
        </div>
      </app-experience-card>
    }

    <div class="bottom-controls">
      <div class="inner">
        <ion-button
          color="primary"
          expand="block"
          (click)="router.navigate(['/projects'])"
        >
          Save &amp; continue
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
