<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div style="height: 10px;"></div><!-- another placeholder -->
  <div class="ion-padding-horizontal">
    <div><!-- Should consider to update later -->
      <!-- TODO, make this button match the Design -->
      <app-back-button></app-back-button>
    </div>

    <h1 class="display-bold-1">Reset your password</h1>
    <div class="helper">
      Enter the email address you registered with. We’ll send an email in order to let you chosse a new password.
    </div>
    <form>
      <div>
        <ion-input
          type="email"
          placeholder="user@mail.com"
          fill="outline"
          label-placement="stacked"
          label="Email"
        ></ion-input>
      </div>
      <div>
        <ion-button
          expand="block"
          class="submit-button"
          color="primary"
          type="submit"
        >
          Recover my account
        </ion-button>
      </div>
      <div class="ion-text-center ion-margin-vertical in-text">
        Don't have an account? <a href="/signup" color="primary">Sign up</a>
      </div>
    </form>

  </div>
</ion-content>
