<!--<div class="component">
  <div [class]="'wrapper ' + (formControl?.invalid && formControl?.touched ? 'has-error' : '')">
    <label>{{ label }}</label>
    <div>
      <ion-input
        fill="clear"
        [placeholder]="placeholder"
        [formControl]="innerFormControl"
      ></ion-input>

      <div class="option-list">
        @for (option of displayedOption; track option) {
          <ion-button
            fill="clear"
            color="dark"
            (click)="clickOption(option)"
          >
            <div>{{ option }}</div>
          </ion-button>
        }
      </div>
    </div>
  </div>
  @if (formControl?.invalid && formControl?.touched) {
    <div class="input-error">
      {{ errorText }}
    </div>
  }
</div>-->