
<ion-content>
  <ion-header>
    <app-topbar variant="light">
      <app-back-button slot="start" variant="topbar"></app-back-button>
      <div>Edit Profile</div>
    </app-topbar>
  </ion-header>

  <div class="ion-padding-horizontal">
    <app-section-heading>
      Basic Details
      <ion-button
        color="primary"
        fill="clear"
        slot="end"
        (click)="router.navigateByUrl('/personal-information?mode=edit')"
      >
        <div class="inner">
          <ion-icon src="/assets/svg/icon-edit-primary.svg"></ion-icon>
          Edit
        </div>
      </ion-button>
    </app-section-heading>
    <app-profile-basic-details-card [candidate]="candidate"></app-profile-basic-details-card>
  </div>

  <div class="ion-padding-horizontal">
    <app-section-heading>
      Skills
      <ion-button
        color="primary"
        fill="clear"
        slot="end"
      >
        <div class="inner">
          <ion-icon src="/assets/svg/icon-edit-primary.svg"></ion-icon>
          Edit
        </div>
      </ion-button>
    </app-section-heading>
    
    <form [formGroup]="form">
      <app-chip-input
        label="Skills"
        placeholder="You can add your skills here"
        formControlName="skills"
        mode="multiple"
        [errorText]="displayedError['skills']"
        variant="kakoo-profile"
      ></app-chip-input>
    </form>
    <!--<app-profile-skill-chips-card
      [items]="['Accounts', 'Microsoft Office Suite', 'Tally', 'Business Coaching']"
    ></app-profile-skill-chips-card>-->
  </div>
  
  <div class="ion-padding-horizontal">
    <app-section-heading>
      Education
      <ion-button
        color="primary"
        fill="clear"
        slot="end"
        (click)="router.navigateByUrl('/education-form?mode=add')"
      >
        <div class="inner">
          <ion-icon src="/assets/svg/icon-edit-primary.svg"></ion-icon>
          Add
        </div>
      </ion-button>
    </app-section-heading>

    @for (entity of candidateEducationCertificateEntities; track entity.id) {
      <app-experience-card
        [editButton]="true"
        [deleteButton]="true"
        (edit)="router.navigateByUrl('/education-form?mode=edit&id=' + entity.id)"
        (delete)="deleteEducation(entity)"
        [fadeAway$]="entity.fadeAway$"
        [deleteButtonIsLoading$]="entity.deleteIsLoading$"
      >
        <div slot="image">
          <div class="rounded-container">
            <ion-icon src="/assets/svg/icon-education.svg" style="font-size:21px"></ion-icon>
          </div>
        </div>
        <div slot="title">{{ entity.degreeName }}</div>
        <div slot="content">
          {{ entity.college}}
        </div>
        <div slot="footer">
          <div class="chip">{{ entity.year }}</div>
        </div>
      </app-experience-card>
    }
  </div>

  <div class="ion-padding-horizontal">
    <app-section-heading>
      Certification
      <ion-button
        color="primary"
        fill="clear"
        slot="end"
        (click)="router.navigateByUrl('/certification-form?mode=add')"
      >
        <div class="inner">
          <ion-icon src="/assets/svg/icon-edit-primary.svg"></ion-icon>
          Add
        </div>
      </ion-button>
    </app-section-heading>
    @for (entity of candidateCertificateEntities; track entity.id){
      <app-experience-card
        [editButton]="true"
        [deleteButton]="true"
        (edit)="router.navigateByUrl('/certification-form?mode=edit&id=' + entity.id)"
        (delete)="deleteCertificate(entity)"
        [fadeAway$]="entity.fadeAway$"
        [deleteButtonIsLoading$]="entity.deleteIsLoading$"
      >
        <div slot="image">
          <div class="rounded-container">
            <ion-icon src="/assets/svg/icon-education.svg" style="font-size:21px"></ion-icon>
          </div>
        </div>
        <div slot="title">{{ entity.name }}</div>
        <div slot="content">
          {{ entity.institution}}
        </div>
        <div slot="footer">
          <div class="chip">{{ entity.year }}</div>
        </div>
      </app-experience-card>
    }
  </div>

  <!-------- Experience-->
  <div class="ion-padding-horizontal">

    <app-section-heading>
      Experience
      <ion-button
        color="primary"
        fill="clear"
        slot="end"
        (click)="router.navigateByUrl('/work-experience-form?mode=add')"
      >
        <div class="inner">
          <ion-icon src="/assets/svg/icon-edit-primary.svg"></ion-icon>
          Add
        </div>
      </ion-button>
    </app-section-heading>
    @for (entity of candidateWorkExperienceEntities; track entity.id){
      <app-experience-card
        (edit)="router.navigateByUrl('/work-experience-form?mode=edit&id=' + entity.id)"
        (delete)="deleteWorkExperience(entity)"
        [fadeAway$]="entity.fadeAway$"
        [deleteButtonIsLoading$]="entity.deleteIsLoading$"
      >
        <div slot="image">
          <img src="/assets/png/sample-image-1.png" width="33px">
        </div>
        <div slot="title">{{ entity.jobTitle }}</div>
        <div slot="content">
          {{ entity.companyName }}<br/>
          {{ entity.location }}
        </div>
        <div slot="footer">
          {{ entity.startDate | date: 'MMM yyyy' }} - {{ entity.endDate | date: 'MMM yyyy' }}
        </div>
      </app-experience-card>
    }
  </div>

  <!-- Project portfolios -->
  <div class="ion-padding-horizontal">
    <app-section-heading>
      Project Portfolios
      <ion-button
        color="primary"
        fill="clear"
        slot="end"
        (click)="router.navigateByUrl('/project-form?mode=add')"
      >
        <div class="inner">
          <ion-icon src="/assets/svg/icon-edit-primary.svg"></ion-icon>
          Add
        </div>  
      </ion-button>
    </app-section-heading>
    @for (entity of candidateProjectEntities; track entity.id){
      <app-experience-card
        (edit)="router.navigateByUrl('/project-form?mode=edit&id=' + entity.id)"
        (delete)="deleteProject(entity)"
        [deleteButtonIsLoading$]="entity.deleteIsLoading$"
        [fadeAway$]="entity.fadeAway$"
      >
        <div slot="image">
          <ion-icon src="/assets/svg/icon-briefcase.svg" style="font-size: 22px"></ion-icon>
        </div>
        <div slot="title">{{ entity.projectTitle}}</div>
        <div slot="content">
          @if (entity.projectURL) {
            <a href="{{ entity.projectURL }}" target="_blank">{{ entity.projectURL }}</a>
            <br/>
          }
          {{ entity.projectDescription }}
        </div>
        <div slot="footer">
          Duration: <b>{{ entity.startDate | date: 'MMM yyyy'}} – {{ entity.endDate | date: 'MMM yyyy' }}</b>
        </div>
      </app-experience-card>
    }
  </div>  

  <div class="ion-padding-horizontal">
    <app-section-heading>
      Job preferences
      <ion-button
        color="primary"
        fill="clear"
        slot="end"
        (click)="router.navigateByUrl('/job-preferences?mode=edit')"
      >
        <div class="inner">
          <ion-icon src="/assets/svg/icon-edit-primary.svg"></ion-icon>
          Edit
        </div>
      </ion-button>
    </app-section-heading>
    <app-profile-job-preferences-card [candidate]="candidate"></app-profile-job-preferences-card>
  </div>

  <div class="ion-padding-horizontal">
    <app-section-heading>
      Social Media Links
      <ion-button
        color="primary"
        fill="clear"
        slot="end"
        (click)="router.navigateByUrl('/social-accounts?mode=edit')"
      >
        <div class="inner">
          <ion-icon src="/assets/svg/icon-edit-primary.svg"></ion-icon>
          Edit
        </div>
      </ion-button>
    </app-section-heading>
    <!-- For later, every data should be well-organized using Typescript -->
    <app-profile-social-media-links-card [candidate]="candidate"></app-profile-social-media-links-card>
  </div>

  <br/>
</ion-content>
