@import 'src/theme/mixins.scss';


ion-header{
    box-shadow: none;
}

.heading{
    padding-top: 30px;
    margin-bottom: 30px;
}

.form-wrapper{
    @include form-wrapper-with-bottom-controls;
}

.input-error{
    font-size: 14px;
    line-height: 21px;
    margin-top: 6px;
    color: #B3261E;
}