<ion-content>
  <ion-header>
    <app-topbar [progress]="0.7">
      <app-back-button slot="start" variant="topbar"></app-back-button>
      <div>Setup your profile</div>
      <div slot="end">
        <ion-button
          color="primary"
          fill="clear"
        >
          Skip
        </ion-button>
      </div>
    </app-topbar>
  </ion-header>

  <br/>

  <app-social-account-input
    label="Facebook"
    placeholder="https://www.facebook.com/"
    [formControl]="testFormControl"
    [errorText]="displayedErrorTest"
  ></app-social-account-input>

</ion-content>
