<div class="dashboard-recommended-assessment-card">
  <div class="content">
    <div class="title">
      Data Analyst Assessment
    </div>
    <div class="subtitle">
      Moneycore <span class="dot"></span> Souad Ayari
    </div>
  </div>
  <div class="footer">
    <div class="left">
      <ion-icon src="/assets/svg/dashboard/icon-calendar.svg"/>
      <div class="date">
        Sep 19, 2024, 2:56 AM
      </div>
    </div>
    <div class="right">
      <ion-button>
        <ion-icon src="/assets/svg/dashboard/icon-assessment.svg"/>
      </ion-button>
    </div>
  </div>
</div>