<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="top-banner ion-padding-vertical">
    <div class="placeholder"></div>
    <div class="image-container">
      <img src="/assets/svg/welcome-image.svg"/>
    </div>
    <h1 class="banner-title-1 ion-padding-horizontal">{{ "Welcome," |_ }} {{ user?.firstName }} {{ user?.lastName }} !</h1>
    <div class="helper ion-padding-horizontal"> 
      {{ "Discover Your Dream Career: Join Our Kakoo Portal Today and Open Doors to Limitless Opportunities!" |_ }}
    </div>
  </div>
  <div class="content">
    <div class="ion-padding">
      <h2>{{ "Resume" |_ }}</h2>
      <div class="helper">
        {{ "Please use your resume to fill out your profile. We’ll auto fetch the data." |_}}
      </div>

      <!-- Always prefer simple and functionnal code to cumbuersome and hard to read codes -->
      <!--<div class="rounded-card-2 iconed-card">
        <div class="">
          <ion-icon src="/assets/svg/icon-document.svg"/>
        </div>
        <div class="">
          <div class="card-title">Upload a resume</div>
          <div class="card-helper">
            Max size file <em>2MB</em> (.pdf, .doc, .docx)
          </div>
        </div>
      </div>-->
      <form [formGroup]="form" (submit)="submit()">
        <!-- TODO later merge the native and the builded component -->
        <app-clickable-file-card 
          variant="welcome"
          formControlName="file"
          [loading]="resumeIsLoading"
        >
        </app-clickable-file-card>
        <!--<app-file-card variant="welcome" [clickable]="true">
          Rishabh Rai CV.pdf
          <div slot="subtitle">Added less than a minute ago</div>
        </app-file-card>-->
        <app-ux-button
          expand="block"
          class="submit-button"
          color="primary"
          type="submit"
          [loading]="formIsLoading"
          [disabled]="!form.get('file')?.value && !this.candidate?.resumeAttachmentEntity"
        >
          {{ "Continue" |_ }}
        </app-ux-button>
      </form>
    </div>
  </div>


</ion-content>
