<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="top-banner ion-padding-vertical">
    <div class="placeholder"></div>
    <div class="image-container">
      <img src="/assets/svg/welcome-image.svg"/>
    </div>
    <h1 class="banner-title-1 ion-padding-horizontal">Welcome, Mohit Sharma!</h1>
    <div class="helper ion-padding-horizontal"> 
      Discover Your Dream Career: Join Our Kakoo Portal Today and Open Doors to Limitless Opportunities!
    </div>
  </div>
  <div class="content">
    <div class="ion-padding">
      <h2>Resume</h2>
      <div class="helper">
        Please use your resume to fill out your profile. We’ll auto fetch the data.
      </div>

      <div class="rounded-card-2 iconed-card">
        <div class="">
          <ion-icon src="/assets/svg/icon-document.svg"/>
        </div>
        <div class="">
          <div class="card-title">Upload a resume</div>
          <div class="card-helper">
            Max size file <em>2MB</em> (.pdf, .doc, .docx)
          </div>
        </div>
      </div>
      <ion-button
        expand="block"
        class="submit-button"
        color="primary"
        type="submit"
      >
        Continue
      </ion-button>
    </div>
  </div>


</ion-content>
