<ion-content>
  <div class="top-banner">
    <ion-header>
      <app-topbar-dashboard>
      </app-topbar-dashboard>
    </ion-header>
    <div>
      <div class="text">
        You have <em>{{meetingEntities.length}} Interview{{meetingEntities.length > 1 ? 's' : ''}}</em> upcoming
      </div>
    </div>
  </div>


  <div class="ion-padding-horizontal">
    @if (dataIsLoading) {
      <div class="placeholder">
        <ion-spinner></ion-spinner>
      </div>
    }
    @for (meeting of displayedMeetingEntities; track meeting.financialNegotiationId) {
      <app-meeting-card [meeting]="meeting"></app-meeting-card>
    }
    <!-- <app-meeting-card></app-meeting-card> -->
  </div>

  <div class="floating-bottom">
    <app-bottom-navbar [tabName]="tabName"></app-bottom-navbar>
  </div>
</ion-content>
