
<ion-header>
  <app-topbar variant="kakoo" color="none">
    <div slot="title">
      <img src="/assets/kakoo-logo.png" height="26px">
    </div>
    <div slot="end">
      <div class="img-container">
        <app-language-button></app-language-button>
      </div>
    </div>
  </app-topbar>
</ion-header>
<ion-content>

  <div class="ion-padding-horizontal">

    <div>
      <h2>{{ "Hello" |_ }} Kakooster! 👋</h2>
      <div class="helper">{{ "to access Kakoo Software Solutions" |_ }}</div>
      <!-- The space below should be fixed -->
    </div>
    <div class="container">
      <form [formGroup]="form" (submit)="submit()">
        <div class="row">
          <div class="col-6">
            <!-- This kind of input doesn't display correctly on mobile -->
            <!--<ion-input
              type="text"
              placeholder="Mohit"
              fill="outline"
              label-placement="stacked"
              label="{{ 'First name' |_ }}"
              formControlName="firstName"
              [errorText]="displayedError['firstName']"
            ></ion-input>-->
            <app-outline-input
              placeholder="Mohit"
              type="text"
              label="{{ 'First name' |_ }}"
              formControlName="firstName"
              [errorText]="displayedError['firstName']"
            ></app-outline-input>
          </div>
          <div class="col-6">
            <!-- This kind of input doesn't display correctly on mobile -->
            <!--<ion-input
              type="text"
              placeholder="Sharma"
              fill="outline"
              label-placement="stacked"
              label="{{ 'Last name' |_ }}"
              formControlName="lastName"
              [errorText]="displayedError['lastName']"
            ></ion-input>-->
            <app-outline-input
              placeholder="Sharma"
              type="text"
              label="{{ 'Last name' |_ }}"
              formControlName="lastName"
              [errorText]="displayedError['lastName']"
            ></app-outline-input>
          </div>
        </div>
        <div>
          <!-- This kind of input doesn't display correctly on mobile -->
          <!--<ion-input
            type="email"
            placeholder="user@mail.com"
            fill="outline"
            label-placement="stacked"
            label="{{ 'Email' |_ }}"
            formControlName="email"
            [errorText]="displayedError['email']"
          ></ion-input>-->
          <app-outline-input
            type="email"
            placeholder="user@mail.com"
            label="{{ 'Email' |_ }}"
            formControlName="email"
            [errorText]="displayedError['email']"
          ></app-outline-input>
        </div>
        <div>

          <app-phone-selector
            placeholder="{{ 'Enter your phone' |_ }}"
            label="{{ 'Phone number' |_ }}"
            variant="outline"
            formControlName="phonefull"
            [errorText]="displayedError['phonefull']"
            [split]="true"
          ></app-phone-selector>
        </div>
        <div>
          <ion-input
            type="text"
            placeholder="OIU587654"
            fill="outline"
            label-placement="stacked"
            label="{{ 'Referral Code' |_ }}"
            formControlName="referralCode"
            [errorText]="displayedError['referralCode']"
          ></ion-input>
        </div>
        <div>
          <app-ux-button
            expand="block"
            type="submit"
            color="primary"
            [loading]="formIsLoading"
          >
            {{ "Register" |_ }}
          </app-ux-button>
        </div>
      </form>

      <div class="ion-text-center ion-margin-vertical in-text">
        {{ "Already have an account?" |_ }} <a href="/login" color="primary">{{ "Login" |_ }}</a>
      </div>

      <div class="ion-text-center ion-margin-vertical separate-or" style="font-size: 12px">
        <div class="line"></div>
        <span>{{ "Or" |_ }}</span>
        <div class="line"></div>
      </div>
      
      <!-- TODO, should create a more suitable button class -->
      <app-ux-button
        expand="block"
        class="login-provider"
        (click)="signupWithGoogle()"
        [loading]="googleIsLoading"
        variant="kakoo"
      >
        <div class="inner">
          <img src="/assets/svg/google-logo.svg" width="18px"/>
          {{ "Continue with Google" |_ }}
        </div>
      </app-ux-button>
      
      <!-- TODO, should create a more suitable button class -->
      <app-ux-button
        expand="block"
        fill="outline"
        class="login-provider"
        (click)="signupWithLinkedin()"
        variant="kakoo"
      >
        <img src="/assets/svg/linkedin-logo.svg" width="18px"/>
          {{ "Continue with LinkedIn" |_ }}
      </app-ux-button>
    </div>

    <p class="footer-text ion-text-center">
      {{ "By tapping on Login, you are agreeing to" |_ }}<a href="/terms">{{ "Terms of Service" |_ }}</a> {{ "and "}} <a href="/privacy">{{ "Privacy Policy" |_ }}</a>
    </p>
  </div>
</ion-content>
