<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="placeholder" style="height: 46px"><!-- Should consider to update later -->
    <!-- TODO, make this button match the Design -->
    <ion-button
      fill="clear"
      color="clear"
      (click)="goTo('/home')"
    >
      <ion-icon src="/assets/svg/arrow-left.svg"></ion-icon>
    </ion-button>
  </div>

  <div class="ion-padding-horizontal">
    <div class="left-right">
      <div>
        <!-- TODO, width should be responsive -->
        <img src="/assets/kakoo-logo.png" width="91px">
      </div>
      <div>
        <ion-button
          class="language-button"
          fill="outline"
        >
          <div class="language-button-inner">
            <img src="/assets/svg/flag-uk.svg"/>
            en
            <ion-icon src="/assets/svg/right-line.svg"></ion-icon>
          </div>
        </ion-button>
      </div>
    </div>

    <div>
      <h2>Hello Kakooster! 👋</h2>
      <div class="helper">to access Kakoo Software Solutions</div>
      <!-- The space below should be fixed -->
    </div>
    <div class="container">
      <form>
        <div class="row">
          <div class="col-6">
            <ion-input
              type="text"
              placeholder="Mohit"
              fill="outline"
              label-placement="stacked"
              label="First Name"
            ></ion-input>
          </div>
          <div class="col-6">
            <ion-input
              type="text"
              placeholder="Sharma"
              fill="outline"
              label-placement="stacked"
              label="Last name"
            ></ion-input>
          </div>
        </div>
        <div>
          <ion-input
            type="email"
            placeholder="user@mail.com"
            fill="outline"
            label-placement="stacked"
            label="Email"
          ></ion-input>
        </div>
        <div>
          <div class="phone-input-container">
            <label>Phone number</label>
            <div>
              <div class="ion-select-container">
                <ion-select
                  value="+91"
                  justify="end"
                >
                  <ion-select-option [value]="'+91'">+91</ion-select-option>
                </ion-select>
                <div class="spacer"></div>
              </div>
              <ion-input
                type="phone"
                placeholder="Enter your phone number"
                fill="clear"
              ></ion-input>
            </div>
          </div>
        </div>
        <div>
          <ion-input
            type="text"
            placeholder="OIU587654"
            fill="outline"
            label-placement="stacked"
            label="Referral Code"
          ></ion-input>
        </div>
        <div>
          <ion-button
            expand="block"
            type="submit"
            color="primary"
          >
            Register
          </ion-button>
        </div>
      </form>

      <div class="ion-text-center ion-margin-vertical in-text">
        Already have an account? <a href="/login" color="primary">Login</a>
      </div>

      <div class="ion-text-center ion-margin-vertical separate-or" style="font-size: 12px">
        <div class="line"></div>
        <span>Or</span>
        <div class="line"></div>
      </div>
      
      <!-- TODO, should create a more suitable button class -->
      <ion-button
        expand="block"
        fill="outline"
        class="login-provider"
      >
        <img src="/assets/svg/google-logo.svg" width="18px"/>
        Continue with Google
      </ion-button>
      
      <!-- TODO, should create a more suitable button class -->
      <ion-button
        expand="block"
        fill="outline"
        class="login-provider"
      >
      <img src="/assets/svg/linkedin-logo.svg" width="18px"/>
        Continue with LinkedIn
      </ion-button>
    </div>

    <p class="footer-text ion-text-center">
      By tapping on Login, you are agreeing to <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>
    </p>
  </div>
</ion-content>
