<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <!-- No header -->
  <ion-header collapse="condense">
  </ion-header>
  <div class="main">
    <div class="top-banner">
      <div></div>
      <div class="image-container">
        <img src="/assets/svg/symbol-language.svg"/>
      </div>
      <div class="banner-title-1">
        Select your language
      </div>
      <div class="banner-title-2">
        Discover Your Dream Career: Join Our Kakoo Portal Today and Open Doors to Limitless Opportunities!
      </div>
    </div>
    <div class="content">
      <div class="flag-container ion-padding-horizontal">
        <ion-button
          class="active"
        >
          <div class="circle"></div>
          <div>
            <img src="/assets/svg/flag-uk.svg"/>
            <div class="sub-title-1">English</div>
            <div class="sub-title-2">(United Kingdom)</div>
          </div>
        </ion-button>
        <ion-button
          fill="clear"
          color="grey-1"
        >
          <div>
            <img src="/assets/svg/flag-fr.svg"/>
            <div class="sub-title-1">French</div>
            <div class="sub-title-2">(France)</div>
          </div>
        </ion-button>
      </div>
      <div class="ion-padding">
        <ion-button
          expand="block"
          color="primary"
        >Continue</ion-button>
      </div>
      <!--
      <div
        style="height: 30px;"
      >Lock</div>
      -->
    </div>
  </div>
</ion-content>
