

<ion-content>
  <div class="top-banner">
    <ion-header>
      <app-topbar-dashboard>
      </app-topbar-dashboard>
    </ion-header>
    <div>
      <div class="text">
        @if (lang == 'en'){
          You have <em>{{ invitationEntities.length }} Job invitation{{ invitationEntities.length > 1 ? 's' : '' }}</em> received
        } @else if (lang == 'fr') {
          Vous avez reçu <em>{{ invitationEntities.length }} invitation{{ invitationEntities.length > 1 ? 's' : '' }}</em> d'emploi
        }
      </div>
    </div>
  </div>

  <div>
    <app-filter-chips
      [items]="{
        'all': translate.instant('All Jobs'),
        'pending': translate.instant('Pending'),
        'applied': translate.instant('Applied'),
        'rejected': translate.instant('Rejected')
      }"
      [formControl]="chipControl"
    ></app-filter-chips>
  </div> 
  <br/>
  <div class="ion-padding-horizontal">
    @for (invitation of displayedInvitationEntities; track invitation.id) {
      <app-clickable-job-card
        [displayableInvitationEntity]="invitation"
        [jobEntity]="invitation.jobEntity"
        [status]="invitation.inviteStatus"
      >
        <div slot="date">
          @if (lang == 'en'){
            {{ invitation.createdAt | date: 'MMM d, y, h:mm a' }}
          } @else if (lang == 'fr') {
            {{ invitation.createdAt | date: 'd MMM y, hh:mm' }}
          }
        </div>
        <div slot="title">
          {{ invitation.jobEntity.title }}
        </div>
        <div slot="subtitle">
          {{ invitation.jobEntity.companyName }}
          - <!-- Cannot find the company location -->
        </div>
        <div slot="footer">
          <!-- TODO, translation -->
          <div class="chip">{{ pus.employmentTypeKeyAccessor(invitation.jobEntity.employmentTypeEntity) }}</div>
          <div class="chip">{{ pus.workTypeKeyAccessor(invitation.jobEntity.workTypeEntity) }}</div>
        </div>
      </app-clickable-job-card>
    }

    <!--
    <br/>
    <app-job-card
      status="applied"
    >
      <div slot="date">Sep 19, 2024, 2:56 AM</div>
      <div slot="image">
        <img src="/assets/png/sample-image-2.png" alt=""/>
      </div>
      <div slot="title">Senior Java Developer</div>
      <div slot="subtitle">
        Moneycore - Souad Ayari
      </div>
      <div slot="footer">
        <div class="chip">Permanent</div>
        <div class="chip">On-site</div>
      </div>
    </app-job-card>
    <app-job-card
      status="rejected"
    >
      <div slot="date">Sep 19, 2024, 2:56 AM</div>
      <div slot="image">
        <img src="/assets/png/sample-image-2.png" alt=""/>
      </div>
      <div slot="title">Senior Java Developer</div>
      <div slot="subtitle">
        Moneycore - Souad Ayari
      </div>
      <div slot="footer">
        <div class="chip">Permanent</div>
        <div class="chip">On-site</div>
      </div>
    </app-job-card>
    <app-job-card
      status="applied"
    >
      <div slot="date">Sep 19, 2024, 2:56 AM</div>
      <div slot="image">
        <img src="/assets/png/sample-image-2.png" alt=""/>
      </div>
      <div slot="title">Senior Java Developer</div>
      <div slot="subtitle">
        Moneycore - Souad Ayari
      </div>
      <div slot="footer">
        <div class="chip">Permanent</div>
        <div class="chip">On-site</div>
      </div>
    </app-job-card>
    -->
  </div>

  <div class="floating-bottom">
    <app-bottom-navbar [tabName]="tabName"></app-bottom-navbar>
  </div>
</ion-content>
