<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>jobboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">jobboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <br/>
  <app-job-card
    status="applied"
  >
    <div slot="date">Sep 19, 2024, 2:56 AM</div>
    <div slot="image">
      <img src="/assets/png/sample-image-2.png" alt=""/>
    </div>
    <div slot="title">Senior Java Developer</div>
    <div slot="subtitle">
      Moneycore - Souad Ayari
    </div>
    <div slot="footer">
      <div class="chip">Permanent</div>
      <div class="chip">On-site</div>
    </div>
  </app-job-card>
  <app-job-card
    status="rejected"
  >
    <div slot="date">Sep 19, 2024, 2:56 AM</div>
    <div slot="image">
      <img src="/assets/png/sample-image-2.png" alt=""/>
    </div>
    <div slot="title">Senior Java Developer</div>
    <div slot="subtitle">
      Moneycore - Souad Ayari
    </div>
    <div slot="footer">
      <div class="chip">Permanent</div>
      <div class="chip">On-site</div>
    </div>
  </app-job-card>
</ion-content>
