<ion-header>
  <app-topbar variant="light">
    <app-back-button slot="start" variant="topbar"></app-back-button>
    <div>
      @if (formMode == 'edit'){
        {{ "Edit Work Experience" |_ }}
      } @else {
        {{ "Add Work Experience" |_ }}
      }
    </div>
    <div slot="end">
      @if (formMode == 'edit') {
        <app-ux-button
          color="danger"
          fill="clear"
          [loading]="deleteIsLoading"
          variant="topbar"
          (click)="deleteItem()"
          [fixedWidth]="true"
        >
        {{ "Delete" |_ }}
        </app-ux-button>
      }
    </div>
  </app-topbar>
</ion-header>

<ion-content>
  <div class="ion-padding-horizontal form-wrapper">
    <form [formGroup]="form" (submit)="submit()">
      <div>
        <app-outline-input
          type="text"
          placeholder="{{ 'Google, Inc' |_ }}"
          label="{{ 'Company Name*' |_ }}"
          formControlName="companyName"
          [errorText]="displayedError['companyName']"
        ></app-outline-input>
      </div>
      <div>
        <app-outline-input
          type="text"
          placeholder="{{ 'Software Engineer' |_ }}"
          label="{{ 'Job Title*' |_ }}"
          formControlName="jobTitle"
          [errorText]="displayedError['jobTitle']"
        ></app-outline-input>
      </div>
      <div>
        <app-outline-input
          type="text"
          placeholder="{{ 'Design and develop marketplace (App Store/Play Store) quality level mobile application for customers.' |_ }}"
          label="{{ 'Job Description*' |_ }}"
          formControlName="description"
          [errorText]="displayedError['description']"
        ></app-outline-input>
      </div>
      <div>
        <!-- Should edit the form below to use profile utils details and key accessor -->
        <app-chip-input
          label="Type of employment"
          placeholder="Select Type of Employment"
          [options]="['Full-time', 'Part-time', 'Contract', 'Internship', 'Temporary', 'Freelance']"
          formControlName="employmentType"
          [errorText]="displayedError['employmentType']"
          mode="single"
        ></app-chip-input>
        <!-- Using the PUS fails, if deadline will allow, PUS will be used  -->
        <!--<app-chip-input
          label="{{ 'Type of employment' |_ }}"
          placeholder="{{ 'Select Type of Employment' |_ }}"
          [options]="pus.employmentTypeOptions"
          [keyAccessor]="pus.employmentTypeKeyAccessor"
          formControlName="employmentType"
          [errorText]="displayedError['employmentType']"
          mode="single"
        ></app-chip-input>-->
      </div>
      <div>
        <app-chip-input
          label="{{ 'Work Type' |_ }}"
          placeholder="{{ 'Select Work Type' |_ }}"
          [options]="['Remote', 'On-site', 'Hybrid']"
          formControlName="workType"
          [errorText]="displayedError['workType']"
          mode="single"></app-chip-input>
      </div>
      <div>
        <app-outline-input
          type="date"
          placeholder="{{ '01/01/2022' |_ }}"
          label="{{ 'Start Date*' |_ }}"
          formControlName="startDate"
          [errorText]="displayedError['startDate']"
        >
          <ion-icon src="/assets/svg/icon-calendar.svg" slot="icon"></ion-icon>
        </app-outline-input>
      </div>
      <div>
        <app-outline-input
          type="date"
          placeholder="{{ '31/12/2022' |_ }}"
          fill="outline"
          label-placement="stacked"
          label="{{ 'End Date*' |_ }}"
          formControlName="endDate"
          [errorText]="displayedError['endDate']"
        >
          <ion-icon src="/assets/svg/icon-calendar.svg" slot="icon"></ion-icon>
      </app-outline-input>
      </div>
      <div>
        <app-outline-input
          type="text"
          label="{{ 'Responsibilities and Achievements' |_ }}"
          placeholder="{{ 'Design and develop marketplace (App Store/Play Store) quality level mobile application for customers.' |_ }}"
          formControlName="responsibilitiesAndAchievements"
          [errorText]="displayedError['responsibilitiesAndAchievements']"
        ></app-outline-input>
      </div>
      <div>
        <app-outline-input
          type="text"
          placeholder="{{ 'New York, NY, USA' |_ }}"
          label="{{ 'Location*' |_ }}"
          formControlName="location"
          [errorText]="displayedError['location']"
        ></app-outline-input>
      </div>

      <div class="bottom-controls">
        <div class="inner">
          <app-ux-button
            type="submit"
            color="primary"
            expand="block"
            [loading]="formIsLoading"
          >
            {{ "Save & continue" | _ }}
          </app-ux-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
