
.nav{
    display: flex;
    border-top: 1px solid #E9E7EA;
    background: white;
    
    & ion-button{
        flex: 1;
        margin: 0;
        --padding-start: 0px;
        --padding-end: 0px;
        --padding-top: 17px;
        --padding-bottom: 17px;
        height: 63px;

        & .inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2px;
        }

        & ion-icon{
            height: 24px;
            width: 24px;
            fill: #484848;
        }

        & .label{
            color: #484848;
            font-size: 15px;
            font-weight: 500;
            line-height: 16px;

            /*&.active .label{
                background: #9C2829;
            }*/
        }

        /* Inactive button colorings */
        & .dashboard-icon, & .meetings-icon{
            fill: #484848;
        }
        & .jobs-icon{
            fill: #484848;
            stroke: #484848;
        }
        & .more-icon{
            stroke: #484848;
            fill: none;
        }


        &.active{
            & .label{
                color: #9C2829;
            }
            /* Each Icon have different design */
            & .dashboard-icon, & .meetings-icon{
                fill: #9C2829;
            }
            & .jobs-icon{
                fill: #9C2829;
                stroke: #9C2829;
            }
            & .more-icon{
                stroke: #9C2829;
                fill: none;
            }

            /*
            & ion-icon{
                fill: #9C2829;
                stroke: #9C2829;
                
            }
            */
        }
    }
}