<div class="bottom-navbar">
  <div class="nav">
    <ion-button
      fill="clear"
    >
      <div class="inner">
        <ion-icon src="/assets/svg/navbar/home.svg"></ion-icon>
        <div class="label">Home</div>
      </div>
    </ion-button>
    <ion-button
      fill="clear"
    >
      <div class="inner">
        <ion-icon src="/assets/svg/navbar/meetings.svg"></ion-icon>
        <div class="label">Meetings</div>
      </div>
    </ion-button>
    <ion-button 
      class="active"
      fill="clear"
    >
      <div class="inner">
        <ion-icon src="/assets/svg/navbar/jobs.svg"></ion-icon>
        <div class="label">Jobs</div>
      </div>
    </ion-button>
    <ion-button
      fill="clear"
    >
      <div class="inner">
        <ion-icon src="/assets/svg/navbar/referral.svg"></ion-icon>
        <div class="label">Referral</div>
      </div>
    </ion-button>
    <ion-button
      fill="clear"
    >
      <div class="inner">
        <ion-icon src="/assets/svg/navbar/more.svg"></ion-icon>
        <div class="label">More</div>
      </div>
    </ion-button>
  </div>
</div>