<div [class]="'component ' + variant">
  <!-- TODO: The on-focus will be on this part -->
  <div [class]="
    'wrapper ' + 
    (formControl?.invalid && formControl?.touched ? 'has-error' : ' ') +
    (hasFocus ? 'has-focus ' : ' ') +
    (disabled ? 'disabled ' : ' ') + ' ' +
    variant
  ">
    <label>{{ label }}</label>
    <div>
      <div class="innerbox">
        <ion-input
          fill="outline"
          [placeholder]="placeholder"
          [formControl]="innerFormControl"
          #innerInput
        ></ion-input>
        <div class="option-list">
          @for (option of displayedOption; track option) {
            <ion-button
              fill="outline"
              color="dark"
              (click)="clickOption(option)"
            >
            @if (customList) {
              <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: option }"></ng-container>
            } @else {
              <div>{{ keyAccessor(option) ? keyAccessor(option) : option }}</div>
            }
            </ion-button>
          }
        </div>
      </div>
      @if (mode == 'single') {
        <ion-button
          fill="clear"
          (click)="toggleOptions()"
          [disabled]="disabled"
        >
          <ion-icon src="/assets/svg/icon-select-carret.svg"></ion-icon>
        </ion-button>
      }
    </div>
  </div>
  <div class="chip-container">
  @if (mode == 'multiple') {
    @for (selected of formControl?.value; track selected) {
      <div class="chip">
        <div>
          <ion-button
            color="clear"
            fill="clear"
            shape="round"
            (click)="removeChip(selected)"
          >
            <ion-icon src="/assets/svg/icon-close.svg"></ion-icon>
          </ion-button>
          {{ keyAccessor(selected) }}<!-- Here, should apply lambda function -->
        </div>
      </div>
    }
  }
  </div>
  @if (formControl?.invalid && formControl?.touched) {
    <div class="input-error">
      {{ errorText }}
    </div>
  }
</div>