<div class="profile-basic-details-card">
  <div class="header">
    <div class="left">
      <img src="/assets/svg/icon-profile-example-ms.svg" alt="Profile Picture" width="41px"/>
    </div>
    <div class="right">
      <div class="title">Mohit Sharma</div>
      <div class="subtitle">Senior UI/UX Designer</div>
    </div>
  </div>

  <div class="content">
    <div class="left">
      <div class="item">
        <div class="label">Email</div>
        <div class="value">jhinganmohit79&commat;gmail.com</div>
      </div>
      <div class="item">
        <div class="label">Date of birth</div>
        <div class="value">1 July, 1999</div>
      </div>
      <div class="item">
        <div class="label">Total experience</div>
        <div class="value">3 years</div>
      </div>
    </div>
    <div class="right">
      <div class="item">
        <div class="label">Phone Number</div>
        <div class="value">+91 97796 13784</div>
      </div>
      <div class="item">
        <div class="label">Location</div>
        <div class="value">Amristsar Punjab, India</div>
      </div>
      <div class="item">
        <div class="label">Daily rate (€)</div>
        <div class="value">40</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="label">Languages</div>
    <div class="value">English, French, Hindi, Punjabi, Bengali</div>
  </div>


</div>