<div class="profile-basic-details-card">
  @if (!candidate) {
    <div class="loading-placeholder">
      <ion-spinner></ion-spinner>
    </div>
  }
  <div class="header">
    <div class="left">
      <!-- Depending on the project deadline -->
      <!-- This SVG might just be a fallback, the uploaded data can be used on behalf -->
      @if (candidate != undefined) {
        <app-svg-profile [candidate]="candidate" size="41"></app-svg-profile>
      }
    </div>
    <div class="right">
      <div class="title">{{ candidate?.firstName }} {{ candidate?.middleName }} {{ candidate?.lastName }}</div>
      <div class="subtitle">{{ candidate?.profile }}</div>
    </div>
  </div>

  <div class="content">
    <div class="left">
      <div class="item">
        <div class="label">{{ "Email" |_ }}</div>
        <div class="value">{{ candidate?.email }}</div>
      </div>
      <div class="item">
        <div class="label">{{ "Date of birth" |_ }}</div>
        <div class="value">{{ "UNAVAILABLE" |_ }}</div>
      </div>
      <div class="item">
        <div class="label">{{ "Total experience" |_ }}</div>
        <div class="value">{{ candidate?.totalExperience }} years</div>
      </div>
    </div>
    <div class="right">
      <div class="item">
        <div class="label">{{ "Phone Number" |_ }}</div>
        <div class="value">{{ candidate?.phoneCode }} {{ candidate?.phoneNumber }}</div>
      </div>
      <div class="item">
        <div class="label">{{ "Location" |_ }}</div>
        <div class="value">{{ cityKeyAccessor(candidate?.cityEntity) }}, {{ countryKeyAccessor(candidate?.countryEntity) }}</div>
      </div>
      <div class="item">
        <div class="label">{{ "Daily rate" |_ }} (€)</div>
        <div class="value">{{ candidate?.dailyRate }}</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="label">{{ "Languages" |_ }}</div>
    <div class="value">{{ candidate?.languageEntities?.map(languageOptionsKeyAccessor)?.join(", ") }}</div>
  </div>


</div>