

@mixin rounded-card-1{
    border-radius: 6px;
    border: 1px solid #E7E7E9;
    padding: 12px;
}

// Experimental outlined-input
@mixin outlined-input-1{
    height: 56px; // Should also consider to have a variable
    border: 1px solid #79747E; // Should use color scheme
    border-radius: 8px;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;

    & > label{
        position: absolute;
        transform: matrix(0.75, 0, 0, 0.75, 0, -6.08);
        transform-origin: 0px 0px;
        max-width: calc(133.333% - 53.3333px);
        background: white;
        padding-left: 5px;
        padding-right: 5px;
        left: calc(16px - 5px);
    }
    & > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

    // The padding
    margin-top: var(--ion-margin-top);
    margin-bottom: var(--ion-margin-bottom);

    // The event-related styles
    // TODO, focus
    &.has-error{
        border-color: #B3261E;
        & label{
            color: #B3261E;
        }
    }
}
@mixin input-error-1{
    font-size: 14px;
    line-height: 21px;
    margin-top: 6px;
    color: #B3261E;
}

// The chip with 22 px height
@mixin chip-22{
    background: rgba(var(--ion-color-primary-rgb), 0.08);
    color: var(--ion-color-primary);
    display: inline-block;
    flex-direction: row; // ???
    align-items: center;
    height: 22px;
    line-height: 22px;
    border-radius: 18px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 6px;
    font-size: 13px;
}

@mixin chip-24{
    background: rgba(var(--ion-color-primary-rgb), 0.08);
    color: var(--ion-color-primary);
    display: inline-block;
    flex-direction: row;
    align-items: center;
    height: 24px;
    line-height: 24px; // Not consistent with the other chip-varient
    border-radius: 18px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 6px;
    font-size: 13px;
}

// Todo for later, chip 36
@mixin chip-36{

}

// JOb board top banner
@mixin jobboard-top-banner{
    background: #E0F9F0;
    padding-bottom: 31px;
    & .text{
        margin-left: 24px;
        margin-right: 24px;
        padding-top: 9px;
        font-family: SF Pro Display;
        font-size: 32px;
        font-weight: 600;
        line-height: 43px;
        text-align: left;
        & em{
            color: #9C2829;
            font-weight: inherit;
            font-style: inherit;
        }
    }
}

// Floating bottom bar
@mixin floating-bottom{
    height: calc(64px + env(safe-area-inset-bottom));
    &>*{
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-bottom: env(safe-area-inset-bottom);
        background: white;
    }

}

// The button group
@mixin button-group{
    border: 1px solid #E7E7E9;
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    
    &>app-button-group-item:last-of-type{
        --border-bottom: 0px solid black;
    }
}

// Form-wrapper with bottom controls
@mixin form-wrapper-with-bottom-controls{
    min-height: 100%;
    position: relative;
    & .bottom-controls{
        height: calc(83px + env(safe-area-inset-bottom));
        & .inner{
            background: white;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-left: var(--ion-padding-left);
            padding-right: var(--ion-padding-right);
            padding-top: calc(var(--ion-padding-top) / 2);
            padding-bottom: calc(var(--ion-padding-bottom) / 2 + env(safe-area-inset-bottom));
        }
    }
}

// Form Row Margin Correction
@mixin form-row-margin-correction{
    ion-input{
        margin-top: 0;
        margin-bottom: 0;
    }
    margin-top: 24px;
    margin-bottom: 24px;
}