
<ion-header [translucent]="false">
  @if (formMode == 'default'){
    <app-topbar [progress]="6/9">
      <app-back-button slot="start" variant="topbar"></app-back-button>
      <div>{{ "Setup your profile" |_ }}</div>
      <div slot="end">
        <ion-button
          color="primary"
          fill="clear"
          (click)="skip()"
        >
          {{ "Skip" |_ }}
        </ion-button>
      </div>
    </app-topbar>
  } @else if (formMode == 'edit'){
    <app-topbar variant="light">
      <app-back-button slot="start" variant="topbar"></app-back-button>
      <div>{{ "Edit Job Preference" |_ }}s</div>
    </app-topbar>
  }
</ion-header>
<ion-content [fullscreen]="false">
  <div class="ion-padding-horizontal form-wrapper">
    @if (formMode == 'default'){
      <div class="heading">
        <h2 class="display-2">{{ "Job preferences" |_ }}</h2>
        <div class="helper">
          {{ "Let us know you a bit more about you" |_ }}
        </div>
      </div>
    } @else {
      <br/>
    }
    <form [formGroup]="form" (submit)="submit()"><!-- Can consider to delete this div -->
      <div class="input-wrapper">
        <app-chip-input
          label="{{'Type of employment' |_ }}*"
          placeholder="{{'Select Type of Employment' |_ }}"
          formControlName="employmentTypeEntity"
          [options]="employmentTypeOptions"
          [errorText]="displayedError['employmentTypeEntity']"
          mode="single"
          [keyAccessor]="employmentTypeKeyAccessor"
        ></app-chip-input>
        <!-- TODO, use the BE data structure and set variables Name -->
      </div>
      <div class="input-wrapper">
        <app-chip-input
          label="{{ 'Work Type' |_ }}"
          placeholder="{{ 'Select Work Type' |_ }}"
          [options]="workTypeOptions"
          formControlName="workTypeEntity"
          [errorText]="displayedError['workTypeEntity']"
          [keyAccessor]="workTypeKeyAccessor"
          mode="single"></app-chip-input>
      </div>
      <div class="input-wrapper">
        <app-chip-input
          label="{{ 'Salary Expectations' |_ }}"
          placeholder="{{ 'Select Salary Expectations' |_ }}"
          [options]="salaryExpectationOptions"
          [keyAccessor]="salaryExpectationKeyAccessor"
          [errorText]="displayedError['salaryExpectationEntity']"
          formControlName="salaryExpectationEntity"
          mode="single"
        ></app-chip-input>
        <!-- TODO, use the BE data structure and set variables Name -->
      </div>
      <div class="input-wrapper">
        <!-- the form below is in the user, not candidate, to study later-->
        <!-- Form value should be loaded from server -->
        <app-chip-input
          label="{{ 'Notice Period for Full-time' |_ }}"
          placeholder="{{ 'Select Notice Period for Full-time' |_ }}"
          [options]="noticePeriodOptions"
          formControlName="noticePeriodEntity"
          [errorText]="displayedError['noticePeriodEntity']"
          [keyAccessor]="noticePeriodKeyAccessor"
          mode="single"
        ></app-chip-input>
      </div>
      <div class="input-wrapper">
        <!-- the form below is in the user, not candidate, to study later-->
        <!-- Form value should be loaded from server -->
        <app-chip-input
          label="{{ 'Hiring Status' |_ }}"
          placeholder="{{ 'Select Hiring Status' |_ }}"
          [options]="hiringStatusOptions"
          formControlName="hiringStatusEntity"
          [errorText]="displayedError['hiringStatusEntity']"
          [keyAccessor]="hiringStatusKeyAccessor"
          mode="single"
        ></app-chip-input>
        <!-- TODO, use the BE data structure and set variables Name -->
      </div>
      <div class="input-wrapper">
        <app-chip-input
          label="{{ 'Mobility' |_ }}"
          placeholder="{{ 'Add Mobility and press Enter/Return key' |_ }}"
          [options]="mobilityOptions"
          [keyAccessor]="mobilityKeyAccessor"
          formControlName="selfCandidateMobilityEntities"
          [errorText]="displayedError['selfCandidateMobilityEntities']"
          mode="multiple"
        ></app-chip-input>
      </div>

      <br/>
      <!--<div class="controls">
        <ion-button
          color="primary"
          expand="block"
        >
          Save &amp; continue
        </ion-button>
      </div>-->

      <div class="bottom-controls">
        <div class="inner">
          <app-ux-button
            color="primary"
            expand="block"
            type="submit"
            [loading]="formIsLoading"
            [disabled]="!form.valid"
          >
            @if (formMode == 'default'){
              {{ "Save & continue" |_ }}
            } @else if (formMode == 'edit') {
              {{ "Save" |_ }}
            }
          </app-ux-button>
          @if (formMode == 'default' && !form.valid) {
            <div class="ion-text-center in-text disable-helper">
              {{ "All fields must be completed in order to complete your profile." |_ }}
            </div>
          }
        </div>
      </div>
    </form>
  </div>
</ion-content>