<ion-content [fullscreen]="false">
  <ion-header [translucent]="false">
    <app-topbar [progress]="0.2">
      <app-back-button slot="start" variant="topbar"></app-back-button>
      <div>Setup your profile</div>
      <div slot="end">
        <ion-button
          color="primary"
          fill="clear"
        >
          Skip
        </ion-button>
      </div>
    </app-topbar>
  </ion-header>

  <br/>
  <!-- the app-chip-input was modified in order to allow single input mode -->
  <div class="ion-padding">
    <app-chip-input
      label="Type of employment"
      placeholder="Select Type of Employment"
      [options]="['Full-time', 'Part-time', 'Contract', 'Internship', 'Temporary', 'Freelance']"
      [formControl]="testFormControl"
      [errorText]="displayedErrorTest"
      (blur)="testControlBlur()"
      mode="single"
    ></app-chip-input>
  </div>
</ion-content>