
<ion-header [translucent]="false">
  <app-topbar [progress]="0.2">
    <app-back-button slot="start" variant="topbar"></app-back-button>
    <div>Setup your profile</div>
    <div slot="end">
      <ion-button
        color="primary"
        fill="clear"
        (click)="skip()"
      >
        Skip
      </ion-button>
    </div>
  </app-topbar>
</ion-header>
<ion-content [fullscreen]="false">
  <div class="ion-padding-horizontal form-wrapper">
    <div class="heading">
      <h2 class="display-2">Job preferences</h2>
      <div class="helper">
        Let us know you a bit lorem ipsum is a dummy text for the printing.
      </div>
    </div>
    
    <form [formGroup]="form" (submit)="submit()"><!-- Can consider to delete this div -->
      <div class="input-wrapper">
        <app-chip-input
          label="Type of employment"
          placeholder="Select Type of Employment"
          formControlName="employmentTypeEntity"
          [options]="employmentTypeOptions"
          [errorText]="displayedError['employmentTypeEntity']"
          mode="single"
          [keyAccessor]="employmentTypeKeyAccessor"
        ></app-chip-input>
        <!-- TODO, use the BE data structure and set variables Name -->
      </div>
      <div class="input-wrapper">
        <app-chip-input
          label="Work Type"
          placeholder="Select Work Type"
          [options]="workTypeOptions"
          formControlName="workTypeEntity"
          [errorText]="displayedError['workTypeEntity']"
          [keyAccessor]="workTypeKeyAccessor"
          mode="single"></app-chip-input>
      </div>
      <div class="input-wrapper">
        <app-chip-input
          label="Salary Expectations"
          placeholder="Select Salary Expectations"
          [options]="salaryExpectationOptions"
          [keyAccessor]="salaryExpectationKeyAccessor"
          [errorText]="displayedError['salaryExpectationEntity']"
          formControlName="salaryExpectationEntity"
          mode="single"
        ></app-chip-input>
        <!-- TODO, use the BE data structure and set variables Name -->
      </div>
      <div class="input-wrapper">
        <!-- the form below is in the user, not candidate, to study later-->
        <!-- Form value should be loaded from server -->
        <app-chip-input
          label="Notice Period for Full-time"
          placeholder="Select Notice Period for Full-time"
          [options]="noticePeriodOptions"
          formControlName="noticePeriodEntity"
          [errorText]="displayedError['noticePeriodEntity']"
          [keyAccessor]="noticePeriodKeyAccessor"
          mode="single"
        ></app-chip-input>
      </div>
      <div class="input-wrapper">
        <!-- the form below is in the user, not candidate, to study later-->
        <!-- Form value should be loaded from server -->
        <app-chip-input
          label="Hiring Status"
          placeholder="Select Hiring Status"
          [options]="hiringStatusOptions"
          formControlName="hiringStatusEntity"
          [errorText]="displayedError['hiringStatusEntity']"
          [keyAccessor]="hiringStatusKeyAccessor"
          mode="single"
        ></app-chip-input>
        <!-- TODO, use the BE data structure and set variables Name -->
      </div>
      <div class="input-wrapper">
        <app-chip-input
          label="Mobility"
          placeholder="Add Mobility and press Enter/Return key"
          [options]="mobilityOptions"
          [keyAccessor]="mobilityKeyAccessor"
          formControlName="selfCandidateMobilityEntities"
          [errorText]="displayedError['selfCandidateMobilityEntities']"
          mode="multiple"
        ></app-chip-input>
      </div>

      <br/>
      <!--<div class="controls">
        <ion-button
          color="primary"
          expand="block"
        >
          Save &amp; continue
        </ion-button>
      </div>-->

      <div class="bottom-controls">
        <div class="inner">
          <app-ux-button
            color="primary"
            expand="block"
            type="submit"
            [loading]="formIsLoading"
          >
            Save &amp; continue
          </app-ux-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>