<div [class]="'experience-card ' + (fadeAway ? 'fade-away' : '')">
  <div class="left">
    <ng-content select="*[slot='image']"></ng-content>
  </div>
  <div class="center">
    <h3 class="title">
      <ng-content select="*[slot='title']"></ng-content>
    </h3>
    <div class="content">
      <ng-content select="*[slot='content']"></ng-content>
    </div>
    <div class="footer">
      <ng-content select="*[slot='footer']"></ng-content>
    </div>
  </div>
  <div class="right">
    @if (editButton) {
      <app-ux-button
        color="dark"
        fill="clear"
        shape="round"
        (click)="deleteClicked($event)"
        [loading]="deleteButtonIsLoading"
        [customSizing]="true"
        spinner="dots"
      >
        <ion-icon src="/assets/svg/icon-trash.svg" class="trash"></ion-icon>
      </app-ux-button>
    }
    @if (deleteButton) {
      <ion-button
        color="dark"
        fill="clear"
        shape="round"
        (click)="editClicked($event)"
      >
        <ion-icon src="/assets/svg/icon-edit.svg" class="edit"></ion-icon>
      </ion-button>
    }
  </div>
  @if (fadeAway) {
    <div class="fade-away-placeholder">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  }
</div>