<ion-header>
  <app-topbar color="transparent" id="header" [progressBar]="false">
    <app-back-button slot="start" variant="topbar"></app-back-button>
    <div class="ion-text-center title"></div>
    <div slot="end"></div>
  </app-topbar>
</ion-header>

<ion-content>
  <!--<div style="height: 10px;"></div>--><!-- another placeholder -->
  <div class="ion-padding-horizontal">

    <h1 class="display-bold-1">{{ "Check your email" |_ }}</h1>
    <div class="helper">
      {{ "Successful operation! This email will contain a link to verify your email address and set up your password." |_}}
    </div>
    <form>
      <div>
        <ion-button
          expand="block"
          class="submit-button"
          color="primary"
          type="submit"
          (click)="openMailApp()"
        >
          {{ "Open mail app" |_}}
        </ion-button>
      </div>
      <!--
      <div class="ion-text-center ion-margin-vertical in-text">
        {{ "Did not receive the email? Check your spam folder or" |_ }} <a href="#" color="primary">{{ "resend email" |_ }}</a>
      </div>
      -->
    </form>
  </div>
</ion-content>
