<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <!-- TODO, the header TO MANAGE LATER, same as signup.html -->
  <div class="placeholder ion-padding-horizontal" style="height: 46px"><!-- Should consider to update later -->
    <app-back-button></app-back-button>
  </div>

  <div class="ion-padding-horizontal">
    <div class="left-right">
      <div>
        <!-- TODO, width should be responsive -->
        <img src="/assets/kakoo-logo.png" width="91px">
      </div>
      <div>
        <app-language-button></app-language-button>
      </div>
    </div>

    <div>
      <h2>{{ "Hello Kakooster! 👋" |_ }}</h2>
      <div class="helper">{{ "to access Kakoo Software Solutions" |_ }}</div>
      <!-- The space below should be fixed -->
    </div>
    <div class="container">
      @if (credentialFailed) {
        <div class="alert-error">
          <ion-icon [src]="alertCircleOutline"></ion-icon>
          <span>{{ "Invalid email or password" |_ }}</span>
        </div>
      }
      <form (submit)="requestLogin()" [formGroup]="form">
        
        <div class="input-wrapper">
          <ion-input
            type="email"
            placeholder="user@mail.com"
            fill="outline"
            label-placement="stacked"
            label="{{ 'Email' |_ }}"
            formControlName="email"
          ></ion-input>
          <div class="input-error" *ngIf="form.get('email')?.touched && form.get('email')?.errors">
            <span *ngIf="form.get('email')?.getError('required')">{{ "Email address required" |_ }}<br/></span>
            <span *ngIf="form.get('email')?.getError('email')">{{ "Email address is invalid" |_ }}</span>
          </div>
        </div>

        <div class="input-wrapper">
          <ion-input
            type="password"
            placeholder="{{ 'password' |_ }}"
            fill="outline"
            label-placement="stacked"
            label="{{ 'Password' |_ }}"
            formControlName="password"
          ></ion-input>
          <div class="input-error" *ngIf="form.get('password')?.touched && form.get('password')?.errors">
            <span *ngIf="form.get('password')?.getError('required')">{{ "Password required" |_ }}</span>
          </div>
        </div>

        <div class="ion-text-right">
          <a class="#" href="/forgot-password">{{ "Forgot password?" |_ }}</a>
        </div>

        <app-ux-button
          expand="block"
          type="submit"
          color="primary"
          [loading]="formIsLoading"
        >
          {{ "Login" |_ }}
        </app-ux-button>
      </form>

      <!-- TODO: find an appropriate class name for the below element -->
      <div class="ion-text-center ion-margin-vertical in-text">
        {{ "Don't have an account?" |_ }} <a href="/signup" color="primary">{{ "Sign up" |_ }}</a>
      </div>

      <!-- todo for later, should use a class for this font-size:12px; -->
      <div class="ion-text-center ion-margin-vertical separate-or" style="font-size: 12px">
        <div class="line"></div>
        <span>{{ "Or" |_ }}</span>
        <div class="line"></div>
      </div>

      <!-- TODO, should create a more suitable button class -->
      <ion-button
        expand="block"
        fill="outline"
        class="login-provider"
        (click)="loginUsingProvider('google')"
      >
        <img src="/assets/svg/google-logo.svg" width="18px"/>
        {{ "Continue with Google" |_ }}
      </ion-button>

      <!-- TODO, should create a more suitable button class -->
      <ion-button
        expand="block"
        fill="outline"
        class="login-provider"
        (click)="loginUsingProvider('linkedin')"
      >
      <img src="/assets/svg/linkedin-logo.svg" width="18px"/>
        {{ "Continue with LinkedIn" |_ }}
      </ion-button>
    </div>

    <!-- TODO, should allow the element below stick at the bottom (possible) -->
    <p class="footer-text ion-text-center">
      {{ "By tapping on Login, you are agreeing to" |_ }} <a href="/terms">{{ "Terms of Service" |_ }}</a> {{ "and" |_ }} <a href="/privacy">{{ "Privacy Policy" |_ }}</a>
    </p>

    <app-debug-button
      [tools]="['clearCache']"
    ></app-debug-button>

  </div>
</ion-content>
