
<ion-header>
  <app-topbar variant="kakoo" color="none">
    <div slot="title">
      <img src="/assets/kakoo-logo.png" height="26px">
    </div>
    <div slot="end">
      <div class="img-container">
        <app-language-button></app-language-button>
      </div>
    </div>
  </app-topbar>
</ion-header>

<ion-content>
  <!-- TODO, the header TO MANAGE LATER, same as signup.html -->
  <!--<div class="placeholder ion-padding-horizontal" style="height: 46px">
    <app-back-button></app-back-button>
  </div>-->

  <div class="ion-padding-horizontal">
    <div>
      <h2>{{ "Hello Kakooster! 👋" |_ }}</h2>
      <div class="helper">{{ "to access Kakoo Software Solutions" |_ }}</div>
    </div>
    <div class="container">
      @if (credentialFailed) {
        <div class="alert-error">
          <ion-icon [src]="alertCircleOutline"></ion-icon>
          <span>{{ "Invalid email or password" |_ }}</span>
        </div>
      }
      @if (error == 'session-expired') {
        <div class="alert-error">
          <ion-icon [src]="alertCircleOutline"></ion-icon>
          <span>{{ "Session expired, please login again" |_ }}</span>
        </div>
      }
      <form (submit)="requestLogin()" [formGroup]="form">
        
        <div class="input-wrapper">
          
          <app-outline-input
            placeholder="user@mail.com"
            type="email"
            label="{{ 'Email' |_ }}"
            formControlName="email"
            [errorText]="displayedError['email']"  
          ></app-outline-input>
        </div>

        <div class="input-wrapper">
          <app-outline-input
            placeholder="{{ 'password' |_ }}"
            type="password"
            label="{{ 'Password' |_ }}"
            formControlName="password"
            [errorText]="displayedError['password']"
          ></app-outline-input>
        </div>

        <div class="ion-text-right">
          <a class="#" href="/reset-password">{{ "Forgot password?" |_ }}</a>
        </div>

        <app-ux-button
          expand="block"
          type="submit"
          color="primary"
          [loading]="formIsLoading"
        >
          {{ "Login" |_ }}
        </app-ux-button>
        <app-fast-signin></app-fast-signin>
      </form>

      <!-- TODO: find an appropriate class name for the below element -->
      <div class="ion-text-center ion-margin-vertical in-text">
        {{ "Don't have an account?" |_ }} <a href="/signup" color="primary">{{ "Sign up" |_ }}</a>
      </div>

      <!-- todo for later, should use a class for this font-size:12px; -->
      <div class="ion-text-center ion-margin-vertical separate-or" style="font-size: 12px">
        <div class="line"></div>
        <span>{{ "Or" |_ }}</span>
        <div class="line"></div>
      </div>

      <!-- TODO, should create a more suitable button class -->
      <ion-button
        expand="block"
        fill="outline"
        class="login-provider"
        (click)="loginUsingProvider('google')"
      >
        <img src="/assets/svg/google-logo.svg" width="18px"/>
        {{ "Continue with Google" |_ }}
      </ion-button>

      <!-- TODO, should create a more suitable button class -->
      <ion-button
        expand="block"
        fill="outline"
        class="login-provider"
        (click)="loginUsingProvider('linkedin')"
      >
      <img src="/assets/svg/linkedin-logo.svg" width="18px"/>
        {{ "Continue with LinkedIn" |_ }}
      </ion-button>
    </div>

    <!-- TODO, should allow the element below stick at the bottom (possible) -->
    <p class="footer-text ion-text-center">
      {{ "By tapping on Login, you are agreeing to" |_ }} <a href="/terms">{{ "Terms of Service" |_ }}</a> {{ "and" |_ }} <a href="/privacy">{{ "Privacy Policy" |_ }}</a>
    </p>

    <app-debug-button
      [tools]="[
        'clearCache', 
        'quick-navigate:/check-your-email',
        'quick-navigate:/edit-and-preview-profile'
      ]"
    ></app-debug-button>

  </div>
</ion-content>
