<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="placeholder" style="height: 46px">
    <ion-button
      fill="clear"
      color="clear"
      (click)="goTo('/home')"
    >
      <ion-icon src="/assets/svg/arrow-left.svg"></ion-icon>
    </ion-button>
  </div>

  <div class="ion-padding-horizontal">
    <div class="left-right">
      <div>
        <!-- Style, width should be responsive -->
        <img src="/assets/kakoo-logo.png" width="91px">
      </div>
      <div>
        <ion-button
          class="language-button"
          fill="outline"
        >
          <div class="language-button-inner">
            <img src="/assets/svg/flag-uk.svg"/>
            en
            <ion-icon src="/assets/svg/right-line.svg"></ion-icon>
          </div>
        </ion-button>
      </div>
    </div>

    <div>
      <h2>Hello Kakooster! 👋</h2>
      <div class="helper">to access Kakoo Software Solutions</div>
      <!-- The space below should be fixed -->
    </div>
    <div class="container">
      <form>

        <ion-input
          type="email"
          placeholder="user@mail.com"
          fill="outline"
          label-placement="stacked"
          label="Email"
        ></ion-input>

        <ion-input
          type="password"
          placeholder="password"
          fill="outline"
          label-placement="stacked"
          label="Password"
        ></ion-input>

        <div class="ion-text-right">
          <a class="#" href="/forgot-password">Forgot password?</a>
        </div>

        <ion-button
          expand="block"
          type="submit"
          color="primary"
        >
          Login
        </ion-button>

        <!-- TODO: find an appropriate class name for the below element -->
        <div class="ion-text-center ion-margin-vertical in-text">
          Don't have an account? <a href="/signup" color="primary">Sign up</a>
        </div>

        <!-- todo for later, should use a class for this font-size:12px; -->
        <div class="ion-text-center ion-margin-vertical separate-or" style="font-size: 12px">
          <div class="line"></div>
          <span>Or</span>
          <div class="line"></div>
        </div>

        <ion-button
          expand="block"
          fill="outline"
          class="login-provider"
        >
          <img src="/assets/svg/google-logo.svg" width="18px"/>
          Continue with Google
        </ion-button>

        <!-- TODO, should create a more suitable button class -->
        <ion-button
          expand="block"
          fill="outline"
          class="login-provider"
        >
        <img src="/assets/svg/linkedin-logo.svg" width="18px"/>
          Continue with LinkedIn
        </ion-button>


      </form>
    </div>

    <!-- TODO, should allow the element below stick at the bottom (possible) -->
    <p class="footer-text ion-text-center">
      By tapping on Login, you are agreeing to <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>
    </p>

  </div>
</ion-content>
