

// 256+56 = 312
// 336-312 = 24


div.helper{
    // TODO, should consider to use reuse styles
    margin-bottom: 27px;
}

a{
    text-decoration: inherit; // TODO, delete this row, remove this row
    color: #1A1C1E;

    &[color=primary]{
        color: var(--ion-color-primary);
    }
}

ion-button[type=submit]{
    margin-top: 24px; // TODO, it should be use a variable
    margin-bottom: 24px;
}

