<!-- The architecture of this page is different from the others-->
<!-- Here, the header is ouside the ion-content -->
<!-- This architecture is the better way to implement -->
<ion-header [translucent]="false">
  <app-topbar [progress]="0.2">
    <app-back-button slot="start" variant="topbar"></app-back-button>
    <div>Setup your profile</div>
    <div slot="end">
      <ion-button
        color="primary"
        fill="clear"
        (click)="skip()"
      >
        Skip
      </ion-button>
    </div>
  </app-topbar>
</ion-header>

<ion-content>
  <!-- putting ion-header inside the content will avoid it to stick when changing page -->
  <!-- more consistent with various type of header -->
  <!-- the code used to stick the Save&Continue button should be reused -->
  <div class="ion-padding-horizontal form-wrapper">
    <div class="form-header">
      <h2 class="display-2">Add skills</h2>
      <div class="helper">
        Let us know you a bit lorem ipsum is a dummy text for the printing.
      </div>
    </div>

    <form [formGroup]="form" (submit)="submit()">
      <!-- the component below still have a bug -->
      <!-- ERROR TypeError: Cannot read properties of null (reading 'toLowerCase') -->
      <!-- Need futher evaluation before declaring as a prioritary or not -->
      <!-- An exhaustive list of auto suggestion will be added later -->
      <!--<app-chip-input
        label="Skills *"
        placeholder="Skill (ex: Full Stack Developer)"
        [options]="['Accounts', 'Admin', 'Agriculture', 'Architecture', 'Art', 'Automotive', 'Banking', 'Beauty', 'Business', 'Charity', 'Construction', 'Consulting', 'Creative', 'Customer Service', 'Design', 'Digital', 'Education', 'Engineering', 'Entertainment', 'Fashion', 'Finance', 'Food', 'Health', 'Hospitality', 'HR', 'IT', 'Legal', 'Logistics', 'Management', 'Manufacturing', 'Marketing', 'Media', 'Medical', 'Music', 'Nursing', 'Operations', 'Pharmaceutical', 'PR', 'Property', 'Retail', 'Sales', 'Science', 'Security', 'Social Care', 'Sport', 'Tech', 'Telecoms', 'Tourism', 'Transport', 'Travel', 'Utilities', 'Web Development']"
        formControlName="skills"
        [errorText]="displayedErrors['skills']"
        (blur)="testSkillsControlBlur()"
      ></app-chip-input>-->
      <app-chip-input
        label="Skills *"
        placeholder="Skill (ex: Full Stack Developer)"
        [options]="skillOptions"
        [keyAccessor]="skillOptionsKeyAccessor"
        formControlName="skills"
        [errorText]="displayedErrors['skills']"
        (blur)="testSkillsControlBlur()"
      ></app-chip-input>


      <div class="bottom-controls">
        <div class="inner">
          <app-ux-button
            color="primary"
            expand="block"
            type="submit"
            [loading]="formIsLoading"
          >
            Save &amp; continue
          </app-ux-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
