<ion-button
  fill="clear"
  expand="block"
  [color]="color"
>
  <div class="inner">
    <div class="left">
      <div class="content">
        <ng-content></ng-content>
      </div>
      <div class="subtitle">
        <ng-content select="*[slot=subtitle]"></ng-content>
      </div>
    </div>
    <div class="right">
      @if (chip > 0 && chip < 10) {
        <div class="chip">{{ chip }}</div>
      } @else {
        <div class="chip">9+</div>
      }
      <ion-icon [src]="'/assets/svg/icon-carret-right-button-group/icon-carret-right-button-group-' + color + '.svg'"/>
    </div>
  </div>
</ion-button>