<div class="profile-social-media-links-card">
  <div class="item">
    <div class="label">YouTube</div>
    <div class="value">
      <app-social-chip media="youtube">&commat;udhaaran</app-social-chip>
    </div>
  </div>
  <div class="item">
    <div class="label">Facebook</div>
    <div class="value">
      <app-social-chip media="facebook">Photowalabhaiya</app-social-chip>
    </div>
  </div>
  <div class="item">
    <div class="label">Instagram</div>
    <div class="value">
      <app-social-chip media="instagram">&commat;photowalabhaiyaa</app-social-chip>
    </div>
  </div>
  <div class="item">
    <div class="label">LinkedIn</div>
    <div class="value">
      <app-social-chip media="linkedin">/mohitsharma212</app-social-chip>
    </div>
  </div>
  <div class="item">
    <div class="label">Glassdoor</div>
    <div class="value">
      <ion-button
        color="primary"
        fill="clear"
      >
        <div class="inner">
          <ion-icon src="/assets/svg/icon-add.svg"></ion-icon>
          Add Link
        </div>
      </ion-button>
    </div>
  </div>
</div>