
<ion-content [fullscreen]="false">
  <!-- putting ion-header inside the content will avoid it to stick when changing page -->
  <!-- more consistent with various type of header -->
  <ion-header [translucent]="false">
    <app-topbar [progress]="0.2">
      <app-back-button slot="start" variant="topbar"></app-back-button>
      <div>Setup your profile</div>
      <div slot="end">
        <ion-button
          color="primary"
          fill="clear"
        >
          Skip
        </ion-button>
      </div>
    </app-topbar>
  </ion-header>

  <div>
    <app-chip-input
      label="Language"
      placeholder="Enter your languages"
      [options]="['French', 'English', 'Chinese', 'Spanish', 'Japanese', 'Arab', 'German']"
      [formControl]="testFormControl"
      [errorText]="displayedErrorTest"
      (blur)="testControlBlur()"
    ></app-chip-input>

    <app-chip-input
      label="Country"
      placeholder="Enter your country"
      [options]="[
        {'name': 'Albania', 'slug': 'albania'}, 
        {'name': 'Algeria', 'slug': 'algeria'},
        {'name': 'Andorra', 'slug': 'andorra'},
        {'name': 'Angola', 'slug': 'angola'},
        {'name': 'Antigua and barbuda', 'slug': 'antigua-and-barbuda'}
      ]"
      [formControl]="testCountryFormControl"
      [errorText]="displayedErrorTestCountry"
      (blur)="testCountryControlBlur()"
      [keyAccessor]="countryKeyAccessor"
      [customList]="true"
      mode="single"
    >
      <ng-template let-option>
        <div class="country-item">
          <div class="img-container">
            <img [src]="'/assets/png/country-flags/' + option.slug + '.png'" class="country-flag"/>
          </div>
          <span>
            {{ option.name }}
          </span>
        </div>
      </ng-template>
    </app-chip-input>
  </div>

  <div>
    <ion-input
      label="test1"
      placeholder="Test2 placeholder"
      [formControl]="testFormControl2"
      [errorText]="displayedErrorTest2"
    ></ion-input>
  </div>

  <div>
    <ion-button
      expand="block"
      color="primary"
      (click)="testSubmit()"
    >
      Submit
    </ion-button>
  </div>
</ion-content>
