
<ion-content [fullscreen]="false">
  <!-- putting ion-header inside the content will avoid it to stick when changing page -->
  <!-- more consistent with various type of header -->
  <ion-header [translucent]="false">
    <app-topbar [progress]="0.2">
      <app-back-button slot="start" variant="topbar"></app-back-button>
      <div>Setup your profile</div>
      <div slot="end">
        <ion-button
          color="primary"
          fill="clear"
        >
          Skip
        </ion-button>
      </div>
    </app-topbar>
  </ion-header>

  <div>
    <app-chip-input
      label="Language"
      placeholder="Enter your languages"
      [options]="['French', 'English', 'Chinese', 'Spanish', 'Japanese', 'Arab', 'German']"
      [formControl]="testFormControl"
    ></app-chip-input>
  </div>
</ion-content>
