<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" [class]="(themeService.darkModeIsEnabled)?'dark':'light'">
  <!-- TODO, remove the header and replace by the background-->
  <ion-header collapse="condense">
  </ion-header>

  <div class="top-banner">
    <div class="ion-padding-horizontal">
      <app-back-button></app-back-button>
    </div>
    <img src="/assets/svg/email.svg"/>
  </div>
  <div class="content">
    <div class="rounded-card bg-white">
      <div class="ion-text-center">
        <img src="/assets/kakoo-logo.png" width="81px"/><!-- make more responsive-->
      </div>
      <div class="ion-text-center">
        <h1 class="display-1">Get in touch!</h1>
      </div>
      <form>
        <ion-input
          type="text"
          placeholder="John Doe"
          fill="outline"
          label-placement="stacked"
          label="Name"
        />
        <ion-input
          type="email"
          placeholder="john.doe@gmail.com"
          fill="outline"
          label-placement="stacked"
          label="Email"
        />
        <ion-input
          type="phone"
          placeholder="+256 700 000 000"
          fill="outline"
          label-placement="stacked"
          label="Phone"
        />
        <ion-textarea
          placeholder="Message"
          fill="outline"
          label-placement="stacked"
          label="Feedback/Complaint/Suggestion"
          rows="5"
        />
        <ion-button
          expand="block"
          type="submit"
          color="primary"
        >
          Submit
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
