ion-header{
    position: absolute;
    box-shadow: none;
}

.top-banner{
    background-color: #007E48;
    display: inline-block;
    width: 100%;
    height: 299px;
    height: 318px; // 49 is in the safe-zone area
    position: relative;


    & img{
        // Center it and stick to bottom
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        height: 279px;
        width: 279px;
    }
}

.content{
    display: flex;
    justify-content: center;
}

.rounded-card{
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

    margin-left: var(--ion-padding-left);
    margin-right: var(--ion-padding-right);
    max-width: 500px; // Todo, this could use a variable

    border: 1px solid #E7E7E9;
    border-radius: 8px;
    margin-top: -45px;
    z-index: 999;
    position: relative;
}

ion-content.dark .bg-white{
    background-color: #1A1C1E;
    color: #fff;
}
ion-content.light .bg-white{
    background-color: #fff;
    color: #1A1C1E;
}

ion-input, ion-textarea, app-outline-input, app-outline-textarea{
    --border-color: #E7E7E9!important;
}

ion-button{ // TODO, make it reusable
    text-transform: none!important;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C1E;
    --border-width: 1px;
    --border-color: #79747E; // TODO, use a color scheme for the app


    // Not reused
    margin-top: 14px;
    line-height: 20px;
    font-size: 16px;
}