<ion-header [translucent]="true">
  <!--
  <ion-toolbar>
    <ion-title>contact-us</ion-title>
  </ion-toolbar>
  -->
</ion-header>

<ion-content [fullscreen]="true">
  <!-- TODO, remove the header and replace by the background-->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contact-us</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="top-banner">
    <img src="/assets/svg/email.svg"/>
  </div>

  <div class="rounded-card">
    <div class="ion-text-center">
      <img src="/assets/kakoo-logo.png" width="81px"/><!-- make more responsive-->
    </div>
    <div class="ion-text-center">
      <h1 class="display-1">Get in touch!</h1>
    </div>
    <form>
      <ion-input
        type="text"
        placeholder="John Doe"
        fill="outline"
        label-placement="stacked"
        label="Name"
      />
      <ion-input
        type="email"
        placeholder="john.doe@gmail.com"
        fill="outline"
        label-placement="stacked"
        label="Email"
      />
      <ion-input
        type="phone"
        placeholder="+256 700 000 000"
        fill="outline"
        label-placement="stacked"
        label="Phone"
      />
      <ion-textarea
        placeholder="Message"
        fill="outline"
        label-placement="stacked"
        label="Feedback/Complaint/Suggestion"
        rows="5"
      />
      <ion-button
        expand="block"
        type="submit"
        color="primary"
      >
        Submit
      </ion-button>
    </form>
  </div>
</ion-content>
