<ion-header>
  <app-topbar color="transparent" id="header" [progressBar]="false">
    <app-back-button slot="start" variant="topbar"></app-back-button>
    <div class="ion-text-center title"></div>
    <div slot="end"></div>
  </app-topbar>
</ion-header>

<ion-content [class]="(themeService.darkModeIsEnabled)?'dark':'light'">


  <div class="top-banner">
    <div class="ion-padding-horizontal">
    </div>
    <img src="/assets/svg/email.svg"/>
  </div>
  <div class="content">
    <div class="rounded-card bg-white">
      <div class="ion-text-center">
        <img src="/assets/kakoo-logo.png" width="81px"/><!-- make more responsive-->
      </div>
      <div class="ion-text-center">
        <h1 class="display-1">{{ "Get in touch!" |_ }}</h1>
      </div>
      <form [formGroup]="form">
        <app-outline-input
          type="text"
          placeholder="John Doe"
          formControlName="name"
          [errorText]="displayedError['name']"
          label="{{ 'Name' |_ }}"
        ></app-outline-input>
        <app-outline-input
          type="email"
          placeholder="john.doe@gmail.com"
          formControlName="email"
          [errorText]="displayedError['email']"
          label="{{ 'Email' |_ }}"
        ></app-outline-input>
        <app-outline-input
          type="phone"
          placeholder="+256 700 000 000"
          formControlName="phone"
          [errorText]="displayedError['phone']"
          label="{{ 'Phone number' |_ }}"
        ></app-outline-input>
        <app-outline-textarea
          placeholder="Message"
          label="{{ 'Feedback/Complaint/Suggestion' |_ }}"
          rows="5"
          formControlName="message"
          [errorText]="displayedError['message']"
        ></app-outline-textarea>
        <app-ux-button
          expand="block"
          type="submit"
          color="primary"
        >
          {{ "Submit" |_ }}
        </app-ux-button>
      </form>
    </div>
  </div>
</ion-content>
