.topbar{
    padding-top: env(safe-area-inset-top);

    & .main{
        height: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;

        & .start img{
            width: 85px;
        }

        & .end img{
            width: 41px;
        }
    }
}

// The clickable avatar
.clickable-avatar{
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --border-radius: 50%;
    height: 41px;
    width: 41px;
    & .inner{
        height: 41px;
        width: 41px;
    }
}