<div class="topbar">
  <div class="main">
    <div class="start">
      <div class="img-container">
        <img src="/assets/kakoo-logo.png" width="91px">
      </div>
    </div>
    <div class="end">

      <app-clickable-svg-profile
        [initials]="initials"
        size="41"
        routerLink="/edit-and-preview-profile"
      ></app-clickable-svg-profile>
      <!--
      <ion-button
        class="clickable-avatar"
        fill="clear"
        expand="block"
        color="dark"
        shape="round"
        [routerLink]="'/edit-and-preview-profile'"
      >
        <div class="img-container inner">
          <img src="/assets/svg/icon-profile-example-ms.svg" alt="Profile Picture"/>
        </div>
      </ion-button>
      -->
    </div>
  </div>
</div>