@import 'src/theme/mixins.scss';

ion-header{
    box-shadow: none;
}

.form-wrapper{
    @include form-wrapper-with-bottom-controls;
}

.form-header{
    padding-top: 30px;
}

.project-heading{
    --margin-bottom: 0px;
}

.disable-helper{
    color: #6C7278;
}