<ion-header>
  <app-topbar [progress]="5/9">
    <app-back-button slot="start" variant="topbar"></app-back-button>
    <div>{{ 'Setup your profile' |_ }}</div>
    <div slot="end">
      <ion-button
        color="primary"
        fill="clear"
        (click)="skip()"
      >
        {{ 'Skip' |_ }}
      </ion-button>
    </div>
  </app-topbar>
</ion-header>
<ion-content>

  <div class="ion-padding-horizontal form-wrapper">
    <div class="form-header">
      <h2 class="display-2">{{ 'Projects' |_ }}</h2>
      <div class="helper">
        {{ "Let us know you a bit more about you" |_ }}
      </div>
    </div>

    <!-- Projects -->
    <app-section-heading class="project-heading">
      {{ "Project Portfolio" |_ }}
      @if (candidateProjectEntities.length > 0){
        <ion-button
          color="primary"
          fill="clear"
          slot="end"
          (click)="router.navigateByUrl('/project-form?mode=add')"
        >
        {{ "Add" |_ }}
        </ion-button>
      }
    </app-section-heading>

    <div>
      @if (candidateProjectEntities.length == 0){
        <ion-button
          fill="outline"
          color="primary"
          class='add-button'
          (click)="router.navigateByUrl('/project-form?mode=add')"
        >
          <div class="inner">
            {{ "Add project" |_ }}
          </div>
        </ion-button>
      }
    </div>

    <!-- very important, think to use a more suitable other than $index using for loop in angular-->
    @for (entity of candidateProjectEntities; track entity.id) {
      <app-experience-card
        (edit)="router.navigateByUrl('/project-form?mode=edit&id=' + entity.id)"
        (delete)="deleteProject(entity)"
        [deleteButtonIsLoading$]="entity.deleteIsLoading$"
        [fadeAway$]="entity.fadeAway$"
      >
        <div slot="image">
          <ion-icon src="/assets/svg/icon-briefcase.svg" style="font-size: 22px"></ion-icon>
        </div>
        <div slot="title">{{ entity.projectTitle}}</div>
        <div slot="content">
          @if (entity.projectURL) {
            <a href="{{ entity.projectURL }}" target="_blank">{{ entity.projectURL }}</a>
            <br/>
          }
          {{ entity.projectDescription }}
        </div>
        <div slot="footer">
          Duration: <b>{{ entity.startDate | date: 'MMM yyyy'}} – {{ entity.endDate | date: 'MMM yyyy' }}</b>
        </div>
      </app-experience-card>
    }


    <div class="bottom-controls">
      <div class="inner">
        <ion-button
          color="primary"
          expand="block"
          (click)="submit()"
        >
          {{ "Save & continue" |_ }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
