<div class="meeting-card">
  <div class="head">
    <div class="left">
      <img src="/assets/svg/icon-space-company.svg"/><!-- normally it should be bitmap image -->
    </div>
    <div class="right">
      <div class="title">{{ meeting.jobTitle }}</div>
      <div class="subtitle">{{ meeting.interviewerName }}</div>
    </div>
  </div>
  <!--
  <div class="body">
    <div class="description">
      <div [class]="'text ' + (expanded?'expanded':'')" [innerHTML]="meeting.description">
      </div>
      <ion-button
        fill="clear"
        color="primary"
        (click)="toggleExpand()"
      >
        <div>
          @if (!expanded){
            <span>{{ "show more" |_ }}</span>
            <ion-icon src="/assets/svg/icon-carret-down.svg"/>
          } @else {
            <span>{{ "show less" |_ }}</span>
            <ion-icon src="/assets/svg/icon-carret-up.svg"/>
          }
        </div>
      </ion-button>
    </div>
    <div class="duration">
      <div class="top">{{ duration }}</div>
      <div class="bottom">{{ durationUnit }}</div>
    </div>
  </div>
  -->
  <div class="footer">
    <div class="chips">
      <div class="chip">{{ pus.workTypeKeyAccessor(meeting.jobType) }}</div>
      <div class="chip">{{ pus.employmentTypeKeyAccessor(meeting.employmentTypeEntity) }}</div>
    </div>
    <div class="time">
      @if (meeting.fromTime && meeting.toTime){
          <ion-icon src="/assets/svg/icon-clock.svg"></ion-icon>
          @if (lang == 'en'){
            <span>{{ meeting.fromTime | date: 'hh:mm a' }} - {{ meeting.toTime | date: 'hh:mm a' }}</span>
          }@else if (lang == 'fr'){
            <span>{{ meeting.fromTime | date: 'HH:mm' }} - {{ meeting.toTime | date: 'HH:mm' }}</span>
          }
      }
    </div>
    <div class="controls">
      <ion-button
        color="primary"
        (click)="joinMeeting()"
      >
        <ion-icon src="/assets/svg/icon-google-meet.svg"></ion-icon>
        <span>{{ "Join" |_ }}</span>
      </ion-button>
    </div>
  </div>
</div>