<div class="meeting-card">
  <div class="head">
    <div class="left">
      <img src="/assets/svg/icon-space-company.svg"/><!-- normally it should be bitmap image -->
    </div>
    <div class="right">
      <div class="title">Front-End Developer Interview Meeting</div>
      <div class="subtitle">Simranjeet Kaur - MoneyCore</div>
    </div>
  </div>
  <div class="body">
    <div class="description">
      <div [class]="'text ' + (expanded?'expanded':'')">
        This interview will assess the technical expertise and problem-solving skills of a candidate applying for the Front-End
        Developer role. The focus will be on their proficiency in front-end technologies such as HTML, CSS, and JavaScript, as well as experience with popular frameworks like React, Angular, or Vue.
      </div>
      <ion-button
        fill="clear"
        color="primary"
        (click)="toggleExpand()"
      >
        <div>
          @if (!expanded){
            <span>show more</span>
            <ion-icon src="/assets/svg/icon-carret-down.svg"/>
          } @else {
            <span>show less</span>
            <ion-icon src="/assets/svg/icon-carret-up.svg"/>
          }
        </div>
      </ion-button>
    </div>
    <div class="duration">
      <div class="top">40</div>
      <div class="bottom">mins</div>
    </div>
  </div>
  <div class="footer">
    <div class="time">
      <ion-icon src="/assets/svg/icon-clock.svg"></ion-icon>
      <span>06:30PM - 07-10 PM</span>
    </div>
    <div class="controls">
      <ion-button
        color="primary"
      >
        <ion-icon src="/assets/svg/icon-google-meet.svg"></ion-icon>
        <span>Join</span>
      </ion-button>
    </div>
  </div>
</div>