@import 'src/theme/mixins.scss';

ion-header{
    box-shadow: none;
}

// The profile header
.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: var(--ion-padding-left);
    padding-right: var(--ion-padding-right);
    gap: 38px;
    border-bottom: 1px solid #E9E7EA;
    & .left{

    }

    & .right{
        flex-grow: 1;
        & .title{
            font-size: 22px;
            font-weight: 500;
            line-height: 26.25px;
            color: #1A1C1E;
            margin-bottom: 6px;
        }
        & .subtitle{
            font-size: 14px;
            font-weight: 500;
            line-height: 16.71px;       
            color: #6C7278;
            margin-bottom: 12px;
        }
        & .detail-list{
            font-size: 14px;
            font-weight: 400;
            line-height: 16.71px;  
            color: #1A1C1E;         
            & .detail-item{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                margin-top: 6px;
                margin-bottom: 6px;
            } 
        }
    }
}

// The CTA
app-profile-cta{
    margin-top: 12px!important;
}

// The grouppped button
.button-group{
    @include button-group;
}

// The button with icon (maybe can be reused in the future)
app-section-heading{
    & ion-button{
        & .inner{
            display: flex;
            align-items: center;
            gap: 6px;
        }
        font-size: 16px;
        font-weight: 500;
        line-height: 22.4px;
    }
}

// The bottom floating bar
.floating-bottom{
    height: 64px;
    &>*{
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-bottom: env(safe-area-inset-bottom);
    }
}