<ion-content>
  <ion-header>
    <app-topbar variant="kakoo">
      <div class="title">
        <img src="/assets/kakoo-logo.png" height="26px">
      </div>
      <div slot="end">
        <ion-button
          color="light"
          fill="clear"
          class="iconed-button-1"
        >
          <ion-icon src="/assets/svg/topbar/icon-edit.svg"></ion-icon>
        </ion-button>
      </div>
    </app-topbar>
  </ion-header>

  <div class="profile-header">
    <div class="left">
      @if (candidate) {
        <app-svg-profile [candidate]="candidate"></app-svg-profile>
      }
    </div>
    <div class="right">
      @if (candidate) {
        <div class="title">{{ candidate.firstName }} {{ candidate.middleName }} {{ candidate.lastName}}</div>
        <div class="subtitle">-</div><!-- To consult with the back-end team-->
        <div class="detail-list">
          <div class="detail-item">
            <ion-icon src="/assets/svg/profile/mail.svg"></ion-icon>
            <span>{{ candidate.email }}</span>
          </div>
          <div class="detail-item">
            <ion-icon src="/assets/svg/profile/phone.svg"></ion-icon>
            <span>{{ candidate.phoneCode }} {{ candidate.phoneNumber }}</span>
          </div>
          <div class="detail-item">
            <ion-icon src="/assets/svg/profile/location.svg"></ion-icon>
            <span>{{ cityKeyAccessor(candidate.cityEntity) }}, {{ countryKeyAccessor(candidate.countryEntity) }}</span>
          </div>
        </div>
      }
    </div>
  </div>

  <div class="ion-padding-horizontal">
    <br/>
    <app-profile-cta></app-profile-cta>
  </div>

  <div class="ion-padding-horizontal">
    <form [formGroup]="resumeForm" (submit)="resumeSubmit()">
      <app-section-heading>
        Resume
        <!-- Experimental UI Features, maybe subjected to changes-->
        @if (resumeFormChanged) {
          <app-ux-button
            color="primary"
            fill="clear"
            slot="end"
            type="submit"
            [loading]="resumeFormIsLoading"
            [fixedWidth]="true"
            variant="section-heading"
          >
            <div class="inner">
              <ion-icon src="/assets/svg/icon-edit-primary.svg"></ion-icon>
              Save
            </div>
          </app-ux-button>
        }
        <!-- End here -->
      </app-section-heading>
      <app-clickable-file-card
        [class]="resumeFormIsLoading ? 'faded' : ''"
        formControlName="file"
      ></app-clickable-file-card>
    </form>
  </div>


  <div class="ion-padding-horizontal">
    <app-section-heading>
      Others
      <!--<ion-button
        color="primary"
        fill="clear"
        slot="end"
      >
        <div class="inner">
          <ion-icon src="/assets/svg/icon-edit-primary.svg"></ion-icon>
          Edit
        </div>
      </ion-button>-->
    </app-section-heading>
    <!-- a groupped button -->
    <div class="button-group"> <!-- TODO, use a reusable component -->
      <app-button-group-item
        routerLink="/refer-a-friend"
      >
        Refer a Friend
      </app-button-group-item>
      <app-button-group-item>
        <!-- Not present in the page, might be deleted later -->
        Newsletter
      </app-button-group-item>
      <app-button-group-item>
        <!-- Not present in the page, might be deleted later -->
        Tips
      </app-button-group-item>
    </div>
    <div class="button-group">
      <app-button-group-item>
        <!-- Not present in the page, might be deleted later -->
        About Kakoo
      </app-button-group-item>
      <app-button-group-item>
        <!-- Not present in the page, might be deleted later -->
        Privacy &amp; Policy
      </app-button-group-item>
      <app-button-group-item>
        <!-- The terms and conditions should be created in a new page terms-and-conditions-component, terms-and-condition-page, and accept-terms-and-condition -->
        Terms &amp; Conditions
      </app-button-group-item>
    </div>
    <div class="button-group">
      <app-button-group-item
        routerLink="/support"
      >
        Support
      </app-button-group-item>
      <app-button-group-item
        routerLink="/contact-us"
      >
        Contact us
      </app-button-group-item>
      <app-button-group-item>
        App Version
        <div slot="subtitle">1.1 (104)</div>
      </app-button-group-item>
    </div>
    <div class="button-group">
      <app-button-group-item
        color="danger"
        (click)="cs.logout()"
      >
        Logout
      </app-button-group-item>
    </div>
  </div>

  <div class="floating-bottom">
    <app-bottom-navbar [tabName]="tabName"></app-bottom-navbar>
  </div>
</ion-content>
