/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/**
 * 1.0 FONTS and GLOBAL VARIABLES
 */
@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/sf-pro-display/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/sf-pro-display/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/sf-pro-display/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/sf-pro-display/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/sf-pro-display/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/sf-pro-display/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}
*{
    font-family: 'SF Pro Display';
}

/**
 * 2.0 Colors
 */
:root{
    --ion-color-primary: #007E48;
    --ion-color-primary-rgb: 0,126,72;
}

/**
 * 2.0 Padding
 */
:root{
    --ion-padding-left: 24px;
    --ion-padding-right: 24px;
    --ion-padding-top: 24px;
    --ion-padding-bottom: 24px;

    --ion-margin-left: 24px;
    --ion-margin-right: 24px;
    --ion-margin-top: 24px;
    --ion-margin-bottom: 24px;
}
.ion-padding-horizontal{
    padding-left: var(--ion-padding-left);
    padding-right: var(--ion-padding-right);
}
.ion-padding-vertical{
    padding-top: var(--ion-padding-top);
    padding-bottom: var(--ion-padding-bottom);
}
.ion-padding{
    padding-left: var(--ion-padding-left);
    padding-right: var(--ion-padding-right);
    padding-top: var(--ion-padding-top);
    padding-bottom: var(--ion-padding-bottom);
}

ion-input{ //
    margin-top: 24px; // TODO, should use a variable for a sustainable development
    margin-bottom: 24px;
    // The code below doesn't work on iOS
    // the outline-input component is used instead
    /*&[fill=outline]{
        // Override the iOS default styles
        --border-width: 1px!important;
        --border-style: solid!important;
        --border-color: #79747E!important;
    }*/
}

/**
 * Fonts and Typography
 */

h1, h2{
    font-weight:100;
}

h2{
    font-size: 22px;
    font-weight: 400;
    color: #1A1C1E; // WARNING, the color shouldn't be included inside a text color (an color attribute should be used instead)
}
.helper{
    font-size: 16px;
    line-height: 22.4px;
    color: #6C7278; // WARNING, the color shouldn't be included inside a text color (an color attribute should be used instead)
}
.display-1{
    font-size: 32px;
    font-weight: 500;
    line-height: 43px;
    color: #1A1C1E; // WARNING, the color shouldn't be included inside a text color (an color attribute should be used instead)
}
.display-1[color=primary]{ // TODO: Should consider to extend the selector for later
    color: var(--ion-color-primary);
}
.display-bold-1{
    font-size: 32px;
    font-weight: 600;
    line-height: 41.6px;
}

.banner-title-1{ // Experimental for reusage
    font-size: 32px;
    line-height: 41.6px;
    font-weight: 700;
}

a {
  text-decoration: none;
}

.display-2{
    margin: 0;
    margin-bottom: 14px;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px;
}


/**
 * 3.0 Buttons
 */
ion-button{
    font-weight: 500;
    font-size: 16px;
    text-transform: none!important;
    height: 51px;
    --border-radius: 8px;
    --box-shadow: none;
}

/** 
 * 4.0 Custom color 1: Tabasco
 */
 :root {
	--ion-color-tabasco: #9C2829;
	--ion-color-tabasco-rgb: 156,40,41;
	--ion-color-tabasco-contrast: #ffffff;
	--ion-color-tabasco-contrast-rgb: 255,255,255;
	--ion-color-tabasco-shade: #892324;
	--ion-color-tabasco-tint: #a63e3e;
}

.ion-color-tabasco {
	--ion-color-base: var(--ion-color-tabasco);
	--ion-color-base-rgb: var(--ion-color-tabasco-rgb);
	--ion-color-contrast: var(--ion-color-tabasco-contrast);
	--ion-color-contrast-rgb: var(--ion-color-tabasco-contrast-rgb);
	--ion-color-shade: var(--ion-color-tabasco-shade);
	--ion-color-tint: var(--ion-color-tabasco-tint);
}

/**
 * 5.0 Columns
 */
@import 'app/stylesheets/columns.scss';

/**
 * 6.0 Backgrounds (experimental)
 * Actually it is used in the topbar-menu
 */
.bg-primary{
    background-color: var(--ion-color-primary);
    color: white;
}

/**
 * 7.0 Mixins
 */
@import 'theme/mixins.scss';