<ion-content>
  <ion-header>
    <app-topbar variant="kakoo">
      <div slot="title">
        <img src="/assets/kakoo-logo.png" height="26px">
      </div>
      <div slot="end">
        <div class="img-container">
          @if (candidate) {
            <!-- This SVG might just be a fallback, the uploaded data can be used on behalf -->
            <app-svg-profile [candidate]="candidate" size="41"></app-svg-profile>
          }
        </div>
      </div>
    </app-topbar>
  </ion-header>

  <div class="ion-padding-horizontal welcome">
    <div class="title">
      Good Morning 👋
    </div>
    <div class="subtitle">
      {{ candidate?.firstName }} {{ candidate?.lastName }}
    </div>
  </div>

  <div class="ion-padding-horizontal">
    <!-- the Below component also have variants, TODO later -->
    <app-profile-cta></app-profile-cta>
  </div>

  <div class="ion-padding-horizontal">
    <app-section-heading>
      You got new notifications
    </app-section-heading>
    <div class="button-group">
      <app-button-group-item [chip]="2">
        You got invitation for Jobs
      </app-button-group-item>
      <app-button-group-item [chip]="1">
        You got Assessment Request "Java"
      </app-button-group-item>
      <app-button-group-item [chip]="1">
        You got Video Assessment Request
      </app-button-group-item>
      <app-button-group-item [chip]="1">
        You got IQ Test Request
      </app-button-group-item>
      <app-button-group-item [chip]="1">
        You have Interviews Scheduled
      </app-button-group-item>
    </div>
  </div>

  <div class="ion-padding-horizontal">
    <div class="section-heading-2">
      Here are some informations....
    </div>
    <div class="half-half">
      <app-dashboard-card
        slug="interview"
        color="#007E4817"
        title="Interview"
        subtitle="07"
        style="flex: 1"
      ></app-dashboard-card>
      <app-dashboard-card
        slug="job-invitation"
        color="#9C282917"
        title="Job Invitation"
        subtitle="10"
        style="flex: 1"
      ></app-dashboard-card>
    </div>
    <div class="half-half">
      <app-dashboard-card
        slug="assessment"
        color="#FBBC0517"
        title="Assessment"
        subtitle="07"
        style="flex: 1"
      ></app-dashboard-card>
      <app-dashboard-card
        slug="video-assessment"
        color="#375DFB17"
        title="Video Assessment"
        subtitle="24"
        style="flex: 1"
      ></app-dashboard-card>
    </div>
  </div>

  <div class="bg-primary recommended-jobs">
    <div class="title ion-padding-horizontal">Recommended Jobs</div>
    <div class="">
      <div class="horizontal-scroll ion-padding-horizontal">
        <app-dashboard-recommended-job-card></app-dashboard-recommended-job-card>
        <app-dashboard-recommended-job-card></app-dashboard-recommended-job-card>
        <app-dashboard-recommended-job-card></app-dashboard-recommended-job-card>
      </div>
    </div>
  </div>



  <div class="ion-padding-horizontal">
    <app-section-heading>
      Recommended Assessments
    </app-section-heading>

    <app-dashboard-recommended-assessment-card> </app-dashboard-recommended-assessment-card>
    <app-dashboard-recommended-assessment-card> </app-dashboard-recommended-assessment-card>
  
  </div>

  <div style="background: #FFF9E8;" class="ion-padding-horizontal">
    <app-dashboard-interview-cta></app-dashboard-interview-cta>
  </div>
  <div class="floating-bottom">
    <app-bottom-navbar [tabName]="tabName"></app-bottom-navbar>
  </div>
</ion-content>
