<ion-content>
  <ion-header>
    <app-topbar variant="kakoo" color="none">
      <div slot="title">
        <img src="/assets/kakoo-logo.png" height="26px">
      </div>
      <div slot="end">
        <div class="img-container">
          @if (candidate) {
            <!-- Depending on the project deadline -->
            <!-- This SVG might just be a fallback, the uploaded data can be used on behalf -->
            <a routerLink="/edit-and-preview-profile">
              <app-clickable-svg-profile
                [candidate]="candidate"
                size="41"
                routerLink="/edit-and-preview-profile"
              ></app-clickable-svg-profile>
              <!--
              <app-svg-profile [candidate]="candidate" size="41"></app-svg-profile>
              -->
            </a>
          }
        </div>
      </div>
    </app-topbar>
  </ion-header>

  <div class="ion-padding-horizontal welcome">
    <div class="title">
      {{ "Good Morning" |_ }} 👋
    </div>
    <div class="subtitle">
      {{ "Welcome" |_ }} {{ candidate?.firstName }} {{ candidate?.lastName }}
    </div>
  </div>

  <div class="ion-padding-horizontal">
    <!-- the Below component also have variants, TODO later -->
    <!--<app-profile-cta></app-profile-cta>-->
    <app-clickable-profile-cta routerLink="/edit-and-preview-profile"></app-clickable-profile-cta>
  </div>

  <div class="ion-padding-horizontal">
    <app-section-heading>
      {{ "You got new notifications" |_ }}
    </app-section-heading>
    <div class="button-group">
      @if (dashboardMetrics?.noOfJobInvitation ?? 0 > 0) {
        <app-button-group-item 
          [chip]="dashboardMetrics?.noOfJobInvitation ?? 0"
          routerLink="/jobboard"
        >
          {{ "You got invitation for Jobs" |_ }}
        </app-button-group-item>
      }
      @if (dashboardMetrics?.noOfAssessment ?? 0 > 0) {
        <app-button-group-item
          [chip]="dashboardMetrics?.noOfAssessment ?? 0"
          routerLink="/assessments"
        >
          {{ "You got Assessment Request" |_ }}
        </app-button-group-item>
      }
      @if (dashboardMetrics?.noOfVideoAssessment ?? 0 > 0) {
        <app-button-group-item [chip]="dashboardMetrics?.noOfVideoAssessment ?? 0"
          routerLink="/video-assessments"
        >
          {{ "You got Video Assessment Request" |_ }}
        </app-button-group-item>
      }
      @if (dashboardMetrics?.noOfMeeting ?? 0 > 0) {
        <app-button-group-item 
          routerLink="/meetings"
          [chip]="dashboardMetrics?.noOfMeeting ?? 0"
        >
          {{ "You have Meeting Scheduled" |_ }}
        </app-button-group-item>
      }
    </div>
  </div>

  <div class="ion-padding-horizontal">
    <div class="section-heading-2">
      {{ "Here are some informations" |_ }}....
    </div>
    <div class="half-half">
      <app-clickable-dashboard-card
        slug="interview"
        color="#007E4817"
        title="{{ 'Interview' |_ }}"
        subtitle="{{ dashboardMetrics?.noOfInterview | zfill }}"
        style="flex: 1"
        routerLink="/meetings"
      ></app-clickable-dashboard-card>
      <app-clickable-dashboard-card
        slug="job-invitation"
        color="#9C282917"
        title="{{ 'Job Invitation' |_ }}"
        subtitle="{{ dashboardMetrics?.noOfJobInvitation | zfill }}"
        style="flex: 1"
        routerLink="/jobboard"
      ></app-clickable-dashboard-card>
    </div>
    <div class="half-half">
      <app-clickable-dashboard-card
        slug="assessment"
        color="#FBBC0517"
        title="{{ 'Assessment' |_ }}"
        subtitle="{{ dashboardMetrics?.noOfAssessment | zfill }}"
        style="flex: 1"
      ></app-clickable-dashboard-card>
      <app-clickable-dashboard-card
        slug="video-assessment"
        color="#375DFB17"
        title="{{ 'Video Assessment' |_ }}"
        subtitle="{{ dashboardMetrics?.noOfVideoAssessment | zfill }}"
        style="flex: 1"
      ></app-clickable-dashboard-card>
    </div>
  </div>

  <!--
  <div class="bg-primary recommended-jobs">
    <div class="title ion-padding-horizontal">{{ "Recommended Jobs" |_ }}</div>
    <div class="">
      <div class="horizontal-scroll ion-padding-horizontal">
        <app-dashboard-recommended-job-card></app-dashboard-recommended-job-card>
        <app-dashboard-recommended-job-card></app-dashboard-recommended-job-card>
        <app-dashboard-recommended-job-card></app-dashboard-recommended-job-card>
      </div>
    </div>
  </div>
  -->

  <!-- Disabled for now -->
  <!--
  <div class="ion-padding-horizontal">
    <app-section-heading>
      {{ "Assessment Invitation" |_ }}
    </app-section-heading>
    @for (assessment of candidateAssessmentEntities; track assessment.assessmentId){
      <app-dashboard-recommended-assessment-card
        [assessmentEntity]="assessment"
      ></app-dashboard-recommended-assessment-card>
    }

  </div>
  -->

  <div style="background: #FFF9E8;" class="ion-padding-horizontal">
    <app-dashboard-interview-cta></app-dashboard-interview-cta>
  </div>
  <div class="floating-bottom">
    <app-bottom-navbar [tabName]="tabName"></app-bottom-navbar>
  </div>
  <app-debug-button
    [tools]="['unvalidate-token']"
  ></app-debug-button>
</ion-content>
