<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="half-half">
    <app-dashboard-card
      slug="interview"
      color="#007E4817"
      title="Interview"
      subtitle="07"
      style="flex: 1"
    ></app-dashboard-card>
    <app-dashboard-card
      slug="job-invitation"
      color="#9C282917"
      title="Job Invitation"
      subtitle="10"
      style="flex: 1"
    ></app-dashboard-card>
  </div>


  <div class="half-half">
    <app-dashboard-card
      slug="assessment"
      color="#FBBC0517"
      title="Assessment"
      subtitle="07"
      style="flex: 1"
    ></app-dashboard-card>
    <app-dashboard-card
      slug="video-assessment"
      color="#375DFB17"
      title="Video Assessment"
      subtitle="24"
      style="flex: 1"
    ></app-dashboard-card>
  </div>
</ion-content>
