<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- button to go to login page -->
    <ion-button (click)="goTo('/login')" expand="block">Sample 1: Login</ion-button>
    <br/>
    <ion-button (click)="goTo('/contact-us')" expand="block">Sample 2: Contact Us</ion-button>
    <br/>
    <ion-button (click)="goTo('/refer-a-friend')" expand="block">Sample 3: Refer a Friend</ion-button>
  </div>
</ion-content>
