<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- button to go to login page -->
    <ion-button (click)="goTo('/login')" expand="block">Login</ion-button>
    <br/>
    <ion-button (click)="goTo('/signup')" expand="block">Signup</ion-button>
    <br/>
    <ion-button (click)="goTo('/contact-us')" expand="block">Sample 2: Contact Us</ion-button>
    <br/>
    <ion-button (click)="goTo('/refer-a-friend')" expand="block">Sample 3: Refer a Friend</ion-button>
    <br/>
    <ion-button (click)="goTo('/language-selector-1')" expand="block">Sample 4. Languages</ion-button>
    <br/>
    <ion-button (click)="goTo('/personal-information')" expand="block">Sample 5. Personal Information</ion-button>
    <br/>
    <ion-button (click)="goTo('/job-detail')" expand="block">Sample 6. Job Detail</ion-button>
    <br />
    <ion-button (click)="goTo('/work-experience')" expand="block">Sample 7. Work Experience</ion-button>
    <br />
    <ion-button (click)="goTo('/projects')" expand="block">Sample 8. Projects</ion-button>
    <br />
    <ion-button (click)="goTo('/edit-and-preview-profile')" expand="block">Sample 9. Edit & Preview profile</ion-button>
  </div>
</ion-content>
