<ion-header>
  <app-topbar variant="light">
    <app-back-button slot="start" variant="topbar"></app-back-button>
    <div>
      @if (formMode == 'edit'){
        {{ "Edit Certificate" |_ }}
      } @else {
        {{ "Add Certificate" |_ }}
      }
    </div>
    <div slot="end">
      @if (formMode == 'edit') {
        <app-ux-button
          color="danger"
          fill="clear"
          [loading]="deleteIsLoading"
          variant="topbar"
          (click)="deleteItem()"
          [fixedWidth]="true"
        >
        {{ "Delete" |_ }}
        </app-ux-button>
      }
    </div>
  </app-topbar>
</ion-header>

<ion-content>
  <div class="ion-padding-horizontal form-wrapper">
    <form [formGroup]="form" (submit)="submit()">
      <!--<div>
        <app-outline-input
          type="text"
          placeholder="{{ 'Amazon' |_ }}"
          fill="outline"
          label-placement="stacked"
          label="{{ 'Institution Name*' |_ }}"
          formControlName="institution"
          [errorText]="displayedError['institution']"
        ></app-outline-input>
      </div>
      <div>
        <app-outline-input
          type="text"
          placeholder="{{ 'Certificate in Digital Marketing' |_ }}"
          label="{{ 'Certificate Name*' |_ }}"
          formControlName="name"
          [errorText]="displayedError['name']"
        ></app-outline-input>
      </div>
      <div>
        <app-outline-input
          formControlName="year"
          type="text"
          placeholder="{{ '2022' |_ }}"
          label="{{ 'Year*' |_ }}"
          [errorText]="displayedError['year']"
        ></app-outline-input>
      </div>-->
      <div>
        <app-outline-input
          type="text"
          placeholder="{{ 'Certificate in Digital Marketing' |_ }}"
          label="{{ 'Certificate Name*' |_ }}"
          formControlName="title"
          [errorText]="displayedError['title']"
        ></app-outline-input>
      </div>
      <div>
        <app-outline-input
          type="text"
          formControlName="licenceId"
          placeholder="{{ '123456' |_ }}"
          label="{{ 'License ID*' |_ }}"
          [errorText]="displayedError['licenceId']"
        ></app-outline-input>
      </div>
      <div>
        <app-outline-input
          type="text"
          formControlName="issuingOrganization"
          placeholder="{{ 'Google' |_ }}"
          label="{{ 'Issuing Organization*' |_ }}"
          [errorText]="displayedError['issuingOrganization']"
        ></app-outline-input>
      </div>
      <div>
        <app-outline-input
          type="date"
          formControlName="issueDate"
          placeholder="{{ '2022-01-01' |_ }}"
          label="{{ 'Issue Date*' |_ }}"
          [errorText]="displayedError['issueDate']"
        >
          <ion-icon src="/assets/svg/icon-calendar.svg" slot="icon"></ion-icon>
        </app-outline-input>
      </div>
      <div>
        <app-outline-input
          type="date"
          formControlName="expireDate"
          placeholder="{{ '2022-01-01' |_ }}"
          label="{{ 'Expire Date*' |_ }}"
          [errorText]="displayedError['expireDate']"
        >
          <ion-icon src="/assets/svg/icon-calendar.svg" slot="icon"></ion-icon>
        </app-outline-input>
      </div>
      <div>
        <app-outline-input
          type="text"
          formControlName="licenceURL"
          placeholder="{{ 'https://certificate.com/abcdefgh' |_ }}"
          label="{{ 'License URL*' |_ }}"
          [errorText]="displayedError['licenceURL']"
        ></app-outline-input>
      </div>

      <div class="bottom-controls">
        <div class="inner">
          <app-ux-button
            type="submit"
            color="primary"
            expand="block"
            [loading]="formIsLoading"
          >
            {{ "Save" | _ }}
          </app-ux-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
