<div class="dashboard-recommended-job-card">
  <div class="header">
    <div class="left">
      <div class="img-container">
        <img src="/assets/svg/icon-space-company.svg"/>
      </div>
      <div class="label">
        MoneyCore
      </div>
    </div>
    <div class="right">
      <ion-button
        fill="clear"
        shape="round"
        color="dark"
      >
        <ion-icon src="/assets/svg/dashboard/icon-save.svg"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="content">
    <div class="title">
      Senior Java Developer
    </div>
    <div class="subtitle">
      Souad Ayari
    </div>
  </div>
  <div class="footer">
    <div class="left">
      <div class="chip">Permanent</div>
      <div class="chip">On-site</div>
    </div>
    <div class="right">
      2 days ago
    </div>
  </div>
</div>